[2017-06-21 12:06] ilijabojanovic commented on #821
@mvdan Yes, this is only visible on master. 2.3.X releases are ok!

[2017-06-21 14:25] whizz opened #824 "Tyk buffers whole reply even if streaming is enabled"
**Do you want to request a *feature* or report a *bug*?**
A bug I believe.

**What is the current behavior?**
When the backend server uses chunked encoding to send a large reply (over 1G of data), Tyk seems to wait until the whole answer arrives and only then starts sending to client. The transfer initiated with curl then fails with "curl: (18) transfer closed with outstanding read data remaining"

[2017-06-21 14:28] ilijabojanovic opened #825 "Uptime tests: Load balancer sends traffic to dead host"
Branch: **2.3.6 and Master**
Env: **On-prem/community version**

Load balancer sends traffic to down host during hi traffic on api with multiple upstream hosts.

**Note:** this issue is noticed on 120+ parallel connections to gateway.

Uptime tests configuration:
[code]

**Here is console log for host checker:**
[code]
**Here is log for Load balancer:**
[code]

**Here is testing API definition:**

[2017-06-21 14:32] mvdan commented on #824
There are instances in the gateway where we read the entire request's body. One such example is JS plugins, since the interface requires passing the body as a string. Similar situations happen for coprocess plugins (Python, etc) and body transform middlewares.

Could you share your API definition details? Perhaps disabling one of those features would be enough to keep Tyk from reading the entire b

[2017-06-21 14:37] whizz commented on #824
Here is the API definition
[code]

[2017-06-21 14:44] mvdan commented on #824
Could you try setting `"do_not_track": true`? Analytics is another case where the body is copied.

[2017-06-21 14:54] ConsM opened #826 "TLS RPC support for MDCB"
**Do you want to request a *feature* or report a *bug*?**
feature

**What is the current behavior?**
It is not currently supported

**What is the expected behavior?**
Enable TLS RPC support for the MDCB instance

**Which versions of Tyk affected by this issue? Did this work in previous versions of Tyk?**
All

[2017-06-21 15:05] whizz commented on #824
Is it possible to set this thru dashboard somehow? I do not see it anywhere in the API definition and do not have any experience with the dashboard API. Could you maybe provide a curl command to upload the new definition from JSON file?

Also, this will completely disable the API statistics, right? That is not exactly what we want.

[2017-06-21 15:22] mvdan commented on #824
I don't think this is configurable via the dashboard at the moment.

Analytics copies the entire response's body (when I said "request" earlier, I meant response), so I'm afraid I don't see a workaround for you in the current version of Tyk.

We'll look into this as part of an upcoming release. Hopefully there's a way to avoid keeping the entire response (and/or request) body in memory unless stri

[2017-06-21 15:42] whizz commented on #824
I updated the definition thru dashboard API, `do_not_track` is set to `true`, but no effect on the streaming. It still does not work.

[2017-06-21 16:12] mvdan commented on #825
@ilijabojanovic just to clarify, if you use sequential requests to the gateway instead of N parallel ones, this issue does not show up?

[2017-06-21 16:19] nchapon commented on #93
Hello, I am blocked with client_credentials flow !

When I try to get an access token I have a 403 :
{
  "error": "Requested endpoint is forbidden"
}

My query with my API /catalog

curl -i -X POST \
--url http://localhost:8080/catalog/oauth/token/ \
--data "client_id=c51666e49bc34be96bc0142e5d34fcc6" \
--data "client_secret=MTBhZGNmZTMtZGQzOC00NjBmLTU1MzEtZjZhMzA5OGQzMDU0" \
--data  "grant_type=c

[2017-06-21 16:22] mvdan commented on #93
@nchapon unless there's something I'm missing, your question has nothing to do with Oauth2. Please take this to the community forum: https://community.tyk.io/

[2017-06-21 21:13] ilijabojanovic commented on #825
@mvdan yes

[2017-06-22 10:06] mvdan opened #829 "JSVM: fix config_data, add a test and document it with examples (JS plugins and virtual paths)"
This was broken unintentionally on master, because there were no tests and not even any docs for this feature.

In https://github.com/TykTechnologies/tyk/pull/820 I'm already fixing it and adding the test. This issue is to track adding documentation for it, including an example.

My test there should be a good start for an example.

[2017-06-22 15:31] #822 closed

[2017-06-22 15:34] mvdan opened #834 "Replace rsc/letsencrypt with x/crypto/acme/autocert"
As per the warning in https://github.com/rsc/letsencrypt:

Also, the one we use seems to be semi-abandoned, whereas the other is much more active.

[2017-06-22 15:37] mvdan opened #835 "TestGetAPISpecsRPCSuccess is flaky, sometimes fails to bind"
Full log: https://api.travis-ci.org/jobs/245838707/log.txt?deansi=true

[code]

Not sure why this would happen. I assume we have all the ports to ourselves.

I can look into this once I'm done with the 2.3.7 stuff.

[2017-06-22 15:40] mvdan commented on #834
Speaking of which, do we have tests of any kind for this? We don't seem to have unit tests in this repo. @buger @ilijabojanovic

[2017-06-22 15:49] mvdan commented on #835
@buger as you said once, Travis overwrites the build logs if you re-start it. >:( Good thing I copied the relevant part.

[2017-06-22 16:57] mvdan opened #836 "Modify the load balancer to return a proper error if all hosts are down"
**What is the current behavior?**

If all hosts are down, the load balancer will route to any of them.

**What is the expected behavior?**

Instead of that, return a meaningful error response like "all hosts are down, please try again later".

**Which versions of Tyk affected by this issue? Did this work in previous versions of Tyk?**

Affects 2.3.x and master.

Note that I haven't encountered thi

[2017-06-23 07:43] #825 closed

[2017-06-23 08:15] mvdan commented on #804
@ilijabojanovic were you able to test this?

[2017-06-23 08:29] mvdan commented on #836
Confirmed by @ilijabojanovic.

@buger thoughts on backporting this to 2.3.x? The patch would be simple. We could include it in 2.3.7 or 2.3.8.

[2017-06-23 09:50] buger commented on #836
Standard response code for this error is 503

[2017-06-23 09:51] mvdan commented on #836
Should we include any details from the hosts? For instance, if hosts are down with a 403, it might be useful for the client to know that. Or is hiding this from the user fine, since the gateway operator still has access to the details?

[2017-06-23 09:52] buger commented on #836
Hiding is fine

[2017-06-23 10:21] lonelycode commented on #836
We shouldn't leak log information to a client (a potentially hostile one in case of a DDoS).

We should defjnetely return a meaningful response.

[2017-06-23 10:30] mvdan commented on #836
Cool, will work on a patch then. I'll let either of you decide if we should promote this to 2.3.7/2.3.8.

[2017-06-23 10:52] mvdan commented on #836
Upon closer inspection, this will need some non-trivial refactoring to "bubble up" the error. So backporting would be a pain in the arse.

Since this is not a regression nor a critical bugfix, I'd say let's leave it for 2.4.

[2017-06-23 12:13] #804 closed

[2017-06-23 12:37] mvdan commented on #829
Fix done, only the documentation remains.

[2017-06-23 14:08] mvdan commented on #835
Something to note too is that the test sometimes takes really long:

[code]

Given how Travis is slower, perhaps it's hitting some sort of timeout with either the RPC server or client.

[2017-06-23 14:17] buger commented on #835
`TestSyncAPISpecsRPCFailure` and `TestSyncAPISpecsRPCSuccess` both start RPC server, so this tests can't be run in parallel.

We can make it work, if modify `startRPCMock` to use random port. In theory changing `gorpc.NewTCPServer(":9090",` to `gorpc.NewTCPServer(":0",` should do the job. Feel free to apply the fix.

[2017-06-23 14:18] mvdan commented on #835
Note that no tests run in parallel. And what I showed above is running only one of the two.

[2017-06-23 14:22] buger commented on #835
Stacktrace tells `Cannot listen to: [listen tcp :9090: bind: address already in use]`, and this is the only place where we start server on this address.  Also note that there is test `TestWriteDefaultConf` which sets `TYK_GW_LISTENPORT` to 9090 (and actually should be smth like 8181), and forget to set this value back to defaults. So there is chance that we start our internal server on this port s

[2017-06-23 14:31] mvdan commented on #835
I had a quick go at using `:0`, but it doesn't work because we start the server asynchronously, and the GRPC code doesn't expose the final port it will be running on (that I could find).

I think this is related to gorpc alone, and not `TYK_GW_LISTENPORT` (but that should be fixed too), since as I showed above it's wonky even if used on its own with `go test -run ... -count N`.

Since gorpc starts

[2017-06-23 14:35] buger commented on #835
It exposes port in Addr variable, and we already assign connection string like this `config.SlaveOptions.ConnectionString = server.Addr`

[2017-06-23 14:36] mvdan commented on #835
Yes, but when you use `:0` it should get replaced with whatever random, available port it selected. It just keeps on being `:0`, even if I sleep for a long time. I suspect gorpc doesn't expose the final port it got from the TCP listen on `:0`.

[2017-06-23 14:48] buger commented on #835
Right, I remember that it is why I set fixed port there. Not sure what is the best way to do it, maybe dig inside gorpc library to extract port...

[2017-06-23 14:58] mvdan commented on #835
Maybe we should select a really high, random port ourselves and hope for the best :)

I just tried that (random port between 30k and 60k) but some test runs still take ~1s instead of ~0s. I wonder if it would fix the flake, though.

[2017-06-26 20:26] JayCeeJr commented on #324
I am able to change the user's password, But ideally I would like the user's to manage their own passwords.

[2017-06-27 13:43] ChristianCiach commented on #288
I can't get this to work with Keycloak, too.

The log says this:
[code]

This is the id_token:

`eyJhbGciOiJSUzI1NiIsInR5cCIgOiAiSldUIiwia2lkIiA6ICJOVnJoc2NYb3JDbVFzTnk3TTNwdmFTSmtWUVVYXzljcXVJc0tmVzJpSzNnIn0.eyJqdGkiOiI5NzA0Y2YzMi0wODBmLTRjM2YtYjQ2YS1mYTQ4OTY3MTdkOTYiLCJleHAiOjE0OTg1NjIxNzIsIm5iZiI6MCwiaWF0IjoxNDk4NTYxODcyLCJpc3MiOiJodHRwOi8vbG9naW4uaHViLmRldmVsb3BtZW50LmVtcy9hdXRoL3JlYWxtcy92a3R

[2017-06-27 14:41] buger commented on #324
@JayCeeJr in latest release this is how it works. Users can change their own password. Admins by default now can't reset passwords of users unless they have a special permission, which can be set using Admin API like this `curl -X PUT -H "admin-auth: <your secret>" http://<dashboard>/admin/users/:userId/actions/allow_reset_passwords`

[2017-06-27 15:06] ChristianCiach commented on #288
Is there a chance that the fix gets backported to the 2.3 branch? I am currently evaluating different API gateways for my organization and OpenID Connect is a must have. If I can't get this to work with Tyk in the near future I am forced to use another gateway.

[2017-06-27 15:09] buger commented on #288
We are investigating your issue. In meantime can you share your API definition?

[2017-06-27 16:07] ChristianCiach commented on #288
Of course, here you go:

[code]

[2017-06-28 06:54] rabin111 opened #843 "Can't initiated User and Organization by using Bootstrap"
Hello,

I have follow [this guide](https://tyk.io/docs/get-started/with-tyk-on-premise/installation/on-ubuntu/dashboard/) how to install tyk on Ubuntu and I was installed it on Ubuntu 14.04

From Step 4, To initialize user and organisation by using Bootstrap I got this result.

[code]

Then I'm going to the above URL and Login and it said "Credentials are incorrect, please try again"

Please advis

[2017-06-28 06:55] james-tyk commented on #843
Hi - please visit https://community.tyk.io/ and post your query there. Or search the forum for a potential answer from other users.

James

[2017-06-28 06:55] #843 closed

[2017-06-28 07:29] buger commented on #288
And your policy is named "default" and it have access to this API?

Asking because there can be some confusion here. When you configure OpenID you need to specify policy when creating the API, because keys are created dynamically, and this policy will be applied to all the OID keys. Problem is that you can't create this policy before unless you have API... :)

So when you define OpenID API you fir

[2017-06-28 07:35] ChristianCiach commented on #288
Yes, I am using Tyk without the dashboard for my evaluation. We may upgrade to an edition with dashboards if I can get this to work.

Also, I have defined a policy called "default". I am not at work right now, but I will show you my policy file in about an hour. Thanks for your help this far!

[2017-06-28 07:51] james-tyk commented on #288
Just a note @ChristianCiach - Tyk dashboard is free for a single-gateway deployment, even for commercial use in production, so you can use the dashboard as part of your evaluation if you wish.

[2017-06-28 08:24] ChristianCiach commented on #288
@james-tyk
Thanks, I know :) Thing is, the Tyk-Gateway would be deployed and configured automatically via Ansible, so it must at least work without the dashboard. We would use the dashboard primarily for monitoring and emergency configuration changes, like revoking accesses.

[2017-06-28 08:34] ChristianCiach commented on #288
@buger
This is my policies.json:

[code]

When I make a request these are the request and response headers:

[code]

As you can see, I get a "403 - forbidden". The response body is this:

[code]

In the meantime I will try the JWT-plugin for Tyk. As I understand, the only difference for the API consumers is that they need to send the "access_token" instead of the "id_token" in their requests.

[2017-06-28 08:46] ChristianCiach commented on #288
By the way: The quickness of your responses is amazing!

[2017-06-28 09:10] buger commented on #288
So, In your policy json access rights you have, "41433797848f41a558c1573d3e55a410" which should be your API id, and inside this object you have `"api_id": "1",`. But this ID's should actually match.

Note that dashboard was built for managing distributed configurations, so if you start new gateway process it automatically sync all your definitions.

So it is unlikely that you can distribute your A

[2017-06-28 10:11] ChristianCiach commented on #288
Thank you, it seems to work using the api-id as the access-right-key. Although, stating the api-id twice seems redundant and confusing.

I wish the logging would be clearer about the cause of the problems. When a request uses an expired id_token, tyk just logs "JWT Invalid: Validation error. Jwt token validation failed.", too. This makes debugging very hard if our customers ask as why their reques

[2017-06-28 10:14] ChristianCiach commented on #288
Also, I kind of hoped that Tyk would include some information from the id_token as additional headers to the upstream request, like the username for example. Currently the upstream service needs to parse the id_token by itself. I've hoped to avoid adding upstream logic like this by using an API gateway.

[2017-06-28 10:16] ChristianCiach commented on #288
To add to my last message: I just see that this may be already possible using dynamic request header modifications. I will investigate this...

[2017-06-28 10:27] buger commented on #288
Yeah, Tyk define 2 special meta variables which can be included into headers dynamically: `$tyk_meta.TykJWTSessionID` and `$tyk_meta.ClientID`. To make it works, just inject new header with one of the values above.

[2017-06-28 10:35] ChristianCiach commented on #288
Thank you for your help this far. I guess this ticket is solved and can be closed.

Unfortunately, neither the TykJWTSessionID nor the ClientID is useful for the downstream service. I need at least the preferred_username. I will try to figure this out.

[2017-06-28 10:39] ChristianCiach commented on #288
Your documentation says this:

I feel like the crucial part is missing :)

[2017-06-28 10:47] james-tyk commented on #288
Thanks @ChristianCiach - we'll look at updating that in the docs!

Would you be able to drop me an email on James@tyk.io with a couple of details about your use-case, etc, so we can log your details and ensure we provide good service in the future?

Also, we offer a range of options for larger/commercial deployments, including licences for managing multi-gateway deployments and support SLA service

[2017-06-28 10:50] ChristianCiach commented on #288
Thanky, you will hear back from me in a few minutes.

[2017-06-28 11:35] buger commented on #288
I think what you may need is here https://tyk.io/docs/transform-traffic/request-headers/ "Injecting Context Data into Headers" section. Take a look at `$jwt_claims_CLAIMNAME`, where you should replace CLAIMNAME with actual variable you want. I know that docs says `(not OIDC Middleware)`, do not believe it 🙈 , it should work for OpenID.

We going to fix docs and improve OpenID docs.

Thank you!

[2017-06-28 11:51] ChristianCiach commented on #288
Wow, this is **exactly** what I am looking for! Using Keycloak as the IDP I am able to inject any attribute (like the username) as a claim into the id_token. I will try this right away!

[2017-06-28 12:01] buger commented on #288
😎

[2017-06-28 12:01] #288 closed

[2017-06-28 12:08] ChristianCiach commented on #288
I can't get this to work :(

This is my api.json:

[code]

The header reaching the service is this:
`X-Name: $jwt_claims_name`

The decoded JWT is this:
[code]

I will try this using the JWT auth method.

[2017-06-28 12:13] buger commented on #288
I believe it should be `$tyk_meta.jwt_claims_name`. Also, ensure that your API spec has `enable_context_vars` set to true.

[2017-06-28 12:23] ChristianCiach commented on #288
I feel so close, yet so far away...

Log says:
`time="Jun 28 14:22:18" level=warning msg="Session Meta Data not found for key in map: jwt_claims_name"`

Api def:

[code]

[2017-06-28 12:26] ChristianCiach commented on #288
The meta_data inside Redis is just this:

[code]

I also tried to add `"enable_context_vars": true,"` to the object "version_data -> versions -> Default" inside the api definition, but no success.

[2017-06-28 12:29] ChristianCiach commented on #288
I will create a thread at https://community.tyk.io/ for this. Sorry for hijacking this github-issue so far.

Being a software developer myself, I am absolutely guilty of missing/incomplete documention myself, so you have my sympathies in this regard :) I think this discussion was fruitful for both of us this far.

[2017-06-28 12:40] buger commented on #288
Oh, I made a typo and completely confused this issue, you need to use `$tyk_context` not `$tyk_meta` variable.

[2017-06-28 12:42] ChristianCiach commented on #288
Yeah, I was this far myself (by doing RTFM), but still:

`time="Jun 28 14:37:35" level=warning msg="Context Data not found for key in map: jwt_claim_name"`

I am reading the go-code right now (I am not a go programmer, but I can read it) so I will figure this out. I will present my solution here for the poor souls finding this issue through Google.

[2017-06-28 12:50] ChristianCiach commented on #288
I am stupid: The prefix is `jwt_claims_`, not `jwt_claim_`. It's working perfectly!

This is my working api definition:

[code]

Now I will figure out if the JWT auth method is maybe a better match for my use cases. The auth methods seem to be very similar, but our customers may be more familiar with sending access_token instead of id_token to access APIs. One way or the other, Tyk seems to be sui

[2017-06-29 12:34] mvdan commented on #808
Related to #778, but not exactly the same as Lua uses JSON instead of Protobuf.

[2017-06-29 13:27] whizz commented on #824
Any news on this issue? The last suggestion did not fix it. Thanks for any updates.

[2017-06-29 13:58] mvdan commented on #824
No updates yet, no. As said, I don't think there's a workaround for the stable version so there's not much we can do in the short term. A fix couldn't make it into stable as it would touch too many components and have a rather high risk of breaking stuff.

If we have a patch for 2.4 or 2.5, we'll be sure to ask you to try it out :)

[2017-06-29 15:54] buger commented on #829
Needs to be fixed for JSVM as well.

[2017-06-29 15:56] buger opened #844 "As a developer I should be able print directly to the console without logger"
**Do you want to request a *feature* or report a *bug*?**
feature
**What is the current behavior?**
Currently, users can use `log` function, and it formats the content, adds date, escapes special characters and etc.
**What is the expected behavior?**
Goal of the new `print` function is to avoid any formatting and print directly to gateway log

[2017-06-29 16:26] mvdan commented on #844
You're talking about the JSVM, correct? Could you please clarify that in the title and/or description?

[2017-06-29 16:39] mvdan commented on #829
(it never existed nor worked for the JSVM, so this is a new feature for that middleware)

[2017-06-29 17:59] ilijabojanovic commented on #642
@mvdan i was able to reproduce this issue over Dashboard. This is UI issue for @lghiur, since issue is input form on dashboard designer page.

Reproduction video:
https://screencast.com/t/OneODYnLWI

[2017-06-29 18:20] mvdan commented on #642
Are you positive it was a UI issue? It could be a backend issue that I wasn't able to reproduce.

[2017-06-29 19:41] ilijabojanovic commented on #642
@mvdan yes, its related to encoding/decoding strings in Dashboard UI
https://github.com/angular-ui/ui-router/issues/421

[2017-07-01 01:20] RajeshKumar1990 opened #849 "Cannot check if my api is working"
I am new to tyk api gateway.I  m installing it in CentOS. I m following the tutorial given in your website.I already set up the api using the dashboard.But when i call it,
`curl -H "Authorization: null" http://127.0.0.1/test-api/get`
it says
` curl: (7) Failed connect to 127.0.0.1:80; Connection refused`

My dashboard looks like this
![screenshot from 2017-07-01 09-27-13](https://user-images.githu

[2017-07-01 10:25] mvdan commented on #849
Have you had a look at the gateway logs? Especially when you use the API or trigger a hot reload.

[2017-07-03 02:09] RajeshKumar1990 commented on #849
This is what i found from  tyk-gateway.stderr

[code]

This is found in tyk-dashboard.stderr
[code]
May i know why it says no nodes available.

[2017-07-03 03:03] buger commented on #849
Looks like your license does not support this amount of nodes. Check your
dashboard ui nodes section, to see how many active nodes you currently have.

On Пн, 3 июля 2017 г. at 5:09, RajeshKumar1990 <notifications@github.com>
wrote:

[2017-07-03 13:24] #844 closed

[2017-07-03 13:59] davegarvey opened #852 "Custom events"
**Do you want to request a *feature* or report a *bug*?**
Feature request.

**What is the current behavior?**
Not possible.

**What is the expected behavior?**
As a developer I can define a custom event which can be hooked into by other parts of my code. These are in addition to events such as QuotaExceeded.

**If the current behavior is a bug, please provide the steps to reproduce and if possible

[2017-07-03 14:01] mvdan commented on #852
If it's a custom event, how is it fired? By a plugin/middleware/coprocess?

[2017-07-03 14:04] davegarvey opened #853 "Improved management of virtual endpoint JS code"
**Do you want to request a *feature* or report a *bug*?**
Feature request.

**What is the current behavior?**
Virtual endpoints are defined as separate code blocks. There may be duplication of code within these code blocks. If you want to load a particular code block first you need to use a long hostname in the API definition so that the API definition is loaded first.

**What is the expected beha

[2017-07-03 14:06] matiasinsaurralde commented on #852
There's a `DispatchEvent` call in the RPC service definition, and a similar method for native middleware, both expect a JSON argument, let me see if I can come up with a sample.

[2017-07-03 14:14] mvdan commented on #853
We could also do this globally for all JS code, similar to the discussion in https://github.com/TykTechnologies/tyk/issues/739.

In other words, a JS file that can be loaded once and whose funcs can be called by all JS VMs (Otto), be it from JS plugins or from virtual endpoints.

[2017-07-03 14:17] davegarvey commented on #853
Sounds good!

[2017-07-03 21:51] ilijabojanovic opened #855 "URL rewrite duplicates endpoint path"
Branch: 2.3.6 and master
ENV: All

Api definition:
[code]

When we trigger request to gateway in console log we have this:
[code]
If we have more then one / (backslash) in rewrite url, everything behind domain url is duplicated in proxy request

[2017-07-03 21:58] ilijabojanovic commented on #855
Related to:
https://community.tyk.io/t/url-rewriting-path-duplication-in-target/1706/
https://community.tyk.io/t/url-rewrite-with-full-url-doubles-path/1638/

[2017-07-04 11:04] buger opened #857 "Improved healthcheck API"
**Do you want to request a *feature* or report a *bug*?**
feature
**What is the current behavior?**
We have `/<api>/hello` endpoint, which returns 200 if API loaded.

**What is the expected behavior?**
This type of health checking is not enough because it does not check redis/dashboard/RPC connectivity. We should check this stuff for each "hello" request, and return the meanungfull error if someth

[2017-07-04 11:06] mvdan commented on #857
Would this info only contain start-up status? I assume for each of redis/dashboard/RPC, we would have a "connecting", "connected" or "error" status - the last one potentially with extra information.

[2017-07-04 11:44] buger commented on #857
It will dynamically call any backend it currently uses, so not only start-up status.

[2017-07-05 12:15] buger commented on #336
The initial version should at least check that:
1. Require attributes not missing
2. There are no misspelled fields
3. Fields has the right format

Error messages should be human-friendly, and clearly, state what happened and how to fix it.

In future, it will be great to have additional, pre-configured schemes for hybrid, community, and mdcb setups. So I can run smth like: `tyk lint ./tyk.conf --

[2017-07-05 13:18] buger commented on #336
In addition to above. JSON schema allows define dependencies, so, for example, we can define that `use_db_app_configs` should be set to false if `slave_options.use_rpc` is true.

[code]

[2017-07-05 14:17] mvdan opened #866 "revproxy: consider replacing 500s by 502s"
If there's a problem proxying a request, our reverse proxy returns a 500 - `http.StatusInternalServerError`. Go's httputil.ReverseProxy was recently changed to return 502 instead - `http.StatusBadGateway`.

We should probably do the same. This issue is so that we don't forget.

/cc @buger @lonelycode

[2017-07-05 14:34] mvdan commented on #834
Ah, unfortunately the APIs are slightly different. `autocert` does not have Manager methods to marshal and unmarshal the internal state into a string.

[2017-07-05 14:53] mvdan commented on #834
I believe the right fix is to supply a `Manager.Cache` backed by Redis, instead of using `Watch` in combination with `Marshal` and `Unmarshal`. To confirm my suspicion, I've sent https://groups.google.com/forum/#!topic/golang-nuts/LHEuEUHWnGI.

In any case, this switch is less trivial than I thought and the library we currently use isn't bringing any trouble. Moving back to 2.5.

[2017-07-05 16:56] mvdan commented on #638
I believe the current code is correct. As you can see in the godoc https://godoc.org/github.com/patrickmn/go-cache#pkg-constants:

    // For use with functions that take an expiration time. Equivalent to
    // passing in the same expiration duration as was given to New() or
    // NewFrom() when the cache was created (e.g. 5 minutes.)
    DefaultExpiration time.Duration = 0

So passing an expira

[2017-07-05 17:07] mvdan commented on #640
This might sound silly, but wouldn't it be more appropriate to use a middleware (be it JS plugin, coprocess, etc) to do complex logic like this? Even if we added `gtf` and regexes, there would still be plenty of use cases that the body transform wouldn't cover.

[2017-07-05 17:08] mvdan commented on #716
This isn't urgent and I've got enough stuff to do for 2.4, so pushing back to 2.5 for now.

[2017-07-05 17:55] #855 closed

[2017-07-05 21:08] lonelycode opened #871 "Extend OIDC support to also handle OIDC Access Tokens"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
Tyk only works with OIDC ID Tokens

**What is the expected behavior?**
Tyk should also support OIDC Access tokens that are JWTs

**Which versions of Tyk affected by this issue? Did this work in previous versions of Tyk?**
All

[2017-07-06 12:05] tumluliu opened #872 "support custom error message in python rich plugin"
as I asked in the support channel, here I submit it as an issue because I think it's important to let users know what happened when they see errors returned by the middleware plugins. thanks a lot in advance!

**Do you want to request a *feature* or report a *bug*?**
feature

**What is the current behavior?**
the custom returning message is only for 200 success response for the moment although it'

[2017-07-06 12:26] buger commented on #872
Thank you!

[2017-07-06 12:39] #363 closed

[2017-07-07 13:06] mvdan opened #891 "Policies race flake on master"
Encountered in an unrelated PR: https://github.com/TykTechnologies/tyk/pull/889

[code]

Likely just related to how we modify the map without the lock in the test code, so unlikely that it's a real production bug.

[2017-07-07 19:57] lonelycode opened #898 "API Blueprint support is out of date"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
API Blueprint imports fail, and files need to be manually modified to get them to work, but even then they do not work properly.

**What is the expected behavior?**
API Blueprint (in JSON format using Drafter), should import correctly.

**If the current behavior is a bug, please provide the steps to re

[2017-07-08 16:04] #891 closed

[2017-07-10 07:18] willks commented on #639
I voted for this feature as we are migrating from another gateway that had this functionality.

[2017-07-10 14:31] ilijabojanovic opened #900 "Delete cache endpoint returns 404 error"
Branch: master
ENV: All

Reproduction steps:

1. Create api definiton
2. Trigger cache invalidation
[code]
Actual:
In response we have this error:
404 page not found
Response code: 404

Expected:
We should got: Message: OK

[2017-07-10 14:44] ilijabojanovic opened #901 "Get API Tokens return 404 error"
Branch: Master
ENV: All

Reproduction steps:

1. Create api definition
2. Create tokens for that api definition
3. Call:
[code]
Actual:
{'Status': 'Error', 'Message': 'Could not retrieve keys', 'Meta': None}
Response code: 404

Expected:
We should got list

[2017-07-10 15:56] #753 closed

[2017-07-10 19:18] mvdan commented on #900
I could not reproduce, not with a unit test nor a web browser. Did your request URL path have a trailing slash, like `/tyk/apis/1/`?

[2017-07-10 19:19] mvdan commented on #900
I meant `/tyk/cache/1/` by the way - I guess that was a typo in your original issue.

[2017-07-10 19:20] mvdan commented on #901
That's not a valid endpoint, at least not in the gateway @ilijabojanovic. Any pointers?

[2017-07-10 19:57] ilijabojanovic commented on #900
@mvdan i made huge mistake. This issue is for tyk-analytics repo. This issue can be reproduced over dashboard api.

[2017-07-10 19:57] ilijabojanovic commented on #901
@mvdan i made huge mistake. This issue is for tyk-analytics repo. This issue can be reproduced over dashboard api.

[2017-07-11 07:53] mvdan commented on #429
Happened again, not the same test though:

[code]

[2017-07-11 08:21] hustshawn opened #906 "Multiple auth schemes for single API definition"
**Do you want to request a *feature* or report a *bug*?**
bug may be.
**What is the current behavior?**
As suggested from community https://community.tyk.io/t/multiple-auth-schemes-for-single-api-definition/694/4, I put the so called  `custom JWK URL`(http://localhost/files/idp_jwks.json, and it was verified the json can be accessed )  to the secret field, , but tyk cannot pick up the url of json

[2017-07-11 08:45] lghiur commented on #642
@ilijabojanovic I don't think that is the problem. For decoding the output I use the js function "atob" which should work ok, but the response I get from the server (from the test request http://localhost:3000/api/designer/test) looks like this:

[code]

Now if you try in the console this like of code:

`var a = window.atob('ewoKfQ=='); a;`

you will see that the string is the one in the output te

[2017-07-11 08:49] mvdan commented on #642
Thanks for confirming - one part of the codebase less to suspect. Will look at the backend again.

[2017-07-11 09:03] hustshawn commented on #906
Also I believe the issue is not from the JSON url itself, even if I replaced it with a AWS S3 url where I put the json on a bucket, it still not available.

[2017-07-11 11:07] lonelycode commented on #642
The atob function doesn't do UTF-8 well IIRC. We had some trouble a while back encoding blueprint docs for the portal that were in simplified chinese because we couldn't trust the atob func to handle it properly.

https://stackoverflow.com/questions/30106476/using-javascripts-atob-to-decode-base64-doesnt-properly-decode-utf-8-strings

[2017-07-11 11:11] lonelycode commented on #906
Can you share log output from when the requests fail please?

[2017-07-11 12:36] mvdan commented on #642
Yeah, what I've come to see is that what the FE sends to the BE is not utf-8:

[code]

Over to @lghiur again, for now :)

[2017-07-11 14:06] mvdan commented on #642
So the good news is that this is a frontend issue and only affects the endpoint designer. The gateway should be able to handle non-ascii inputs in the body transform just fine - I checked with a unit test.

So for those wondering about a fix, for 2.3.X you can simply test your body transform template on the endpoint designer while skipping non-ascii characters in the input - they'll work when you

[2017-07-11 14:32] #901 closed

[2017-07-11 14:33] #900 closed

[2017-07-11 15:15] mvdan opened #915 "Unify mainRouter and defaultRouter"
There are subtle differences between the two at the moment. There should be no reason to separate them, like there is with `controlRouter`.

/cc @buger

[2017-07-12 01:35] hustshawn commented on #906
@lonelycode Hi Martin, thanks for your prompt response, here below is the related log
[code]

[2017-07-12 01:55] lonelycode commented on #906
Did you look at this log?

... And did you read the post regarding the JWK?

I tried to decode the key in your JWK and it came out binary. If your public key were encoded from the PEM, it would look like this:

[code]

You have:

[code]

Maybe that's the problem?

[2017-07-12 02:48] hustshawn commented on #906
@lonelycode Yes, I think you are right. But may I know how you configure the JWK URL? You mentioned via a API, is it that from the table 'tyk_apis' of mongodb? If not, could you please tell me the right ways? Thanks.

[2017-07-12 02:51] lonelycode commented on #906
I would suggest just trying to add it via the dashboard for now, IIRC the last time I tested this I didn't need to do anything fancy to update the api definition, tyk assumes it's b64 encoded

[2017-07-12 03:02] hustshawn commented on #906
@lonelycode Now the response become
[code]
and here is the log.
[code]

BTW, the public key I encoded is different with what you specified before, please see below.

[code]

[2017-07-12 03:09] lonelycode commented on #906
Erm, this is not related to JWTs or a bug, you are trying to access an api version that isn't on your gateway.

[2017-07-12 03:10] #906 closed

[2017-07-12 06:52] lghiur commented on #642
This is being fixed for v1.4 of the dashboard. The PR is here https://github.com/TykTechnologies/tyk-analytics-ui/pull/129

[2017-07-12 07:11] hustshawn commented on #906
@lonelycode After further investigation, the above error are not in our scope, may be a bug itself since it resumed after I re-launched all the instance containers.

Anyway, I still got the error log
[code]

I am just wondering what is lying behind if I just put the JWK URL to the `jwt_source` field ?
and if it was configured via dashboard, it will be transformed into a blob; if I directly configu

[2017-07-12 07:25] lonelycode commented on #906
Not really - this is an undocumented feature that will likely get deprecated. It was entirely superseded by OpenID support, which handles standard JWKs in a standardised and transparent way.

My advice: use OIDC.

Also, there's a test here that makes sure that the feature works as expected:

https://github.com/TykTechnologies/tyk/blob/master/mw_jwt_test.go#L658

So I'm not sure what's happening wi

[2017-07-12 17:47] #826 closed

[2017-07-13 07:31] hustshawn opened #916 "Configuration with OIDC"
**Do you want to request a *feature* or report a *bug*?**
Feature
**What is the current behavior?**
Cannot process a OIDC authentication.
**What is the expected behavior?**

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem**
Here below is my test code with Python, I have created two api endpoints,
* /test/ , by normal JWT auth,

[2017-07-13 08:23] mvdan commented on #916
I don't see a feature request - this looks more like a question. Have you seen the community forum? That's where questions should go.

[2017-07-13 10:14] mvdan commented on #916
Closing in favor of https://community.tyk.io/t/oidc-configuration/1732.

[2017-07-13 10:14] #916 closed

[2017-07-13 10:16] hustshawn commented on #916
OK. And the question moved to forum https://community.tyk.io/t/oidc-configuration-with-jwk/1732.

[2017-07-13 10:56] ConsM opened #917 "Make `x-tyk-*` headers configurable"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
N/A

**What is the expected behavior?**
As a user I should be able to configure the `x-tyk-*` headers or they could be optional.

**Which versions of Tyk affected by this issue? Did this work in previous versions of Tyk?**
All

[2017-07-13 13:35] #829 closed

[2017-07-13 14:14] bitsofinfo opened #918 "Add support for docker swarm mode service discovery"
I see that the service discovery integration does not support docker swarm.

Would be great if support for letting the gateway determine targets could integrate w/ docker swarm manager APIs automatically (i.e. fetch all containers ips/ports via the swarm service api)

[2017-07-13 14:20] buger commented on #918
Can you clarify a bit, which exactly protocol does not supported by Tyk?

Looking at the docs I see that https://docs.docker.com/swarm/discovery/ that for Swarm you can use either Consul, Etcd or ZooKeeper, and all of them supported by Tyk.

See https://tyk.io/docs/ensure-high-availability/service-discovery/examples/ and https://tyk.io/docs/ensure-high-availability/service-discovery/

Basic idea i

[2017-07-13 14:23] bitsofinfo commented on #918
yes read all that, but out of the box since docker 1.12+ "swarm mode" is the default clustering mech in docker https://docs.docker.com/engine/swarm/

By default all this information is stored in the swarm managers themselves and accessible via the services/networks/tasks APIs in docker. This is where the info is (not consul, etcd etc)

[2017-07-13 14:48] buger commented on #918
I see what you mean. Well, we indeed do not support this yet. But from what I understand one of the main ideas of Swarm is to get away from service discovery tools like Consul. Swarm provides built-in DNS server, and you can just give this DNS address to Tyk and allow Swarm load-ballance by himself. And if you need more control, put proxy like nginx to do the job.

But frankly I do not have enough

[2017-07-13 14:51] bitsofinfo commented on #918
good point yes, we could just have a static route that points to a LB that fronts all swarm nodes and it would do the same thing

[2017-07-13 14:51] #918 closed

[2017-07-13 15:50] buger opened #919 "HostChecker test failure"
**Do you want to request a *feature* or report a *bug*?**
bug
**What is the current behavior?**
It happened to be only 1 time, but I was able to record backtrace:

[code]

**Which versions of Tyk affected by this issue? Did this work in previous versions of Tyk?**
master

[2017-07-13 16:52] mvdan commented on #919
Thanks, will look into it when I'm back.

[2017-07-13 17:53] mvdan commented on #917
What's the root problem here? Does a user want to use different header names, such as ones that mention their product/company name instead of Tyk?

[2017-07-13 18:29] BetaGrumm opened #921 "Unable to update key while it contains access to a deleted api results in confusing error message."
**Do you want to request a *feature* or report a *bug*?**
Feature
**What is the current behavior?**
Currently, if you create an api, add it to a key, then delete the api, the access right is still on the key, and it prevents you from updating the key in any way until you remove it, but the error message is very confusing.
**What is the expected behavior?**
Provide a better error message stating th

[2017-07-13 19:00] matiasinsaurralde opened #924 "Bundle error when using unsupported schemes"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
When Tyk fails to get a bundle using the `BundleGetter` interface, it panics. There's better error control in `master` but seems it's not in the latest release.

**What is the expected behavior?**
Avoid panic.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a

[2017-07-13 19:00] matiasinsaurralde opened #925 "Add HTTPS scheme support to the bundle downloader"
**Do you want to request a *feature* or report a *bug*?**
Enhancement

**What is the current behavior?**
Tyk support the HTTP scheme for bundle URLs. HTTPS isn't supported.

**What is the expected behavior?**
Support HTTPS URLs in the bundle downloader.

**Which versions of Tyk affected by this issue? Did this work in previous versions of Tyk?**
All

[2017-07-13 19:03] mvdan commented on #925
The title is too broad and confusing. HTTPS scheme support where?

[2017-07-13 19:24] #925 closed

[2017-07-13 19:29] buger commented on #925
@mvdan yeah, basic idea is that plugins/bundles are downloaded from the URL defined in API definition. Right now it allows only "HTTP".

[2017-07-13 19:30] #429 closed

[2017-07-17 13:14] buger commented on #921
Thank you for the reporting!

[2017-07-18 11:20] lghiur commented on #790
Define a list of header in Apis designer (Advanced Options), name of section TBD.

[2017-07-20 18:28] bitsofinfo opened #929 "feature: (Extension) Expose request context to JSVM/Plugins"
Running Tyk on docker, w/ some customer JSVM middleware plugins. I'd like to be able to launch the gateway containers w/ a docker env var such as "-e "MYVAR=MYVAL".... and subsequently would like to be able to access the value of MYVAR from within a middleware JS plugin

https://community.tyk.io/t/access-environment-variable-from-withing-jsvm-middleware/1765

[2017-07-21 13:20] lghiur commented on #355
This is still work in progress, but I want to ask for your opinion on the UI changes I'm thinking to do for this issue and also the data that are sent to the server:

I have transformed the **apply_policy_id** key to **apply_policies**, and it's an array of values now:

[code]
In the UI we will drop the dropdown and add a List component instead, and also I've added a warning message that shows all

[2017-07-21 23:26] csbogdan opened #931 "Service doesn't detach from invoking terminal and receives SIGQUIT if controlling terminal goes away (Ansible)"
**Do you want to request a *feature* or report a *bug*?**
Bug
**What is the current behavior?**
Can not use Ansible with Amazon Linux for tyk gateway or dashboard.

If using Ansible shell module to execute `/etc/init.d/tyk-gateway` start or `service tyk-gateway start`, in some scenarios service process doesn't disassociate from the controlling terminal, receiving a SIGQUIT when terminal goes away.

[2017-07-24 08:01] tumluliu commented on #355
very glad to see there is new progress on this issue. nice job @lghiur
looking forward to having this feature in the next release because it's sooo necessary.
only with is feature, it's able to define the matrix policies

[2017-07-24 08:29] #919 closed

[2017-07-24 14:10] bitsofinfo opened #935 "Add support for "id_extractor" to JS middleware"
**Do you want to request a *feature* or report a *bug*?**

Feature. Please add support for the id_extractor and JS "auth_check" middleware to interoperate.

**What is the current behavior?**

It seems you can't use "id_extractor" with JS middleware and an "auth_check" JS middleware function.

See: https://community.tyk.io/t/npm-and-jsvm-custom-basic-auth-plugin-more-details/1752/21?u=bitsofinfo

[2017-07-24 14:52] matiasinsaurralde commented on #935
Hi @bitsofinfo, the JSVM middleware is completely separate from the rich plugins architecture (which is used by the ID extractor), we have a plan to unify it so that we can avoid duplicate code.
As we've noted in the forum, it's possible to implement similar logic using `ReturnOverrides` and other hook types.

[2017-07-24 15:36] marians commented on #740
Stripe also has a good implementation of this concept with some advanced guarantees. They obviously need it to prevent undesired multiple financial transactions through retries. The key term is **idempotency**.

See https://stripe.com/docs/api?lang=curl#idempotent_requests

If this is what the original requester intended, I add my +1 for the feature request! We are currently implementing this on a

[2017-07-24 20:16] mvdan opened #938 "Gateway may panic when loading duplicate APIs on stable"
[code]

That line contains:

[code]

Which was added in 2.3.6 as part of deduplicating APIs when loading them.

I'm fairly sure the panic refers to `ApiSpecRegister` being nil, and not `referenceSpec`, as the latter is used a few lines further up in the codebase. And `ApiSpecRegister` can be nil sometimes, as a pointer to a map.

The good news is that this is already fixed in master, as we got rid

[2017-07-24 20:20] mvdan commented on #938
To clarify - the bug was introduced when backporting this feature to stable. We overlooked the situation with the pointer to the map.

[2017-07-25 01:45] lonelycode commented on #355
@lghiur

This would break backwards compatibility in the API :-/ So it will need to be a new field.

[2017-07-25 10:26] mvdan opened #940 "Reloading may not work if config.HttpServerOptions.OverrideDefaults is true"
Related to https://github.com/TykTechnologies/tyk/issues/915, as the OverrideDefaults block uses `defaultRouter` while the other uses `mainRouter`.

[2017-07-25 10:57] marians opened #942 "Help users to provide valid API definition objects"
**Do you want to request a *feature* or report a *bug*?**

Debatable. I'd like the feature of providing an API definition to become more useable and future-proof.

Similar to https://github.com/TykTechnologies/tyk/issues/336 (which is for the tyk configuration), I'd like better support for the user providing API definitions. Don't know what the best would be. Better log output, more detailed Rest

[2017-07-25 11:20] buger commented on #942
Make sense. Worth noticing that we sort of solved this issue if you are using Dashboard. We have jsonschema for the API definition, and if you try to submit broken definition to Dashboard API, it will give you the list of meaningful errors. Probably make sense implement the same thing in Gateway.

[2017-07-25 11:43] marians commented on #942
@buger Is that jsonschema available somewhere?

A bit of background: I am currently evaluating. Our workflow would most likely be git-based, so that our API definitions would live in JSON files in a repository. I don't see a use currently for the Dashboard. Requiring the dashboard to submit some more or less static API definitions doesn't seem the right way to me.

[2017-07-25 12:05] buger commented on #942
Just to clarify, Dashboard is not just a GUI. It is more like a distributed API to control gateway cluster. And UI itself it just built on top of this API. A lot of our clients use dashboard headlessly via API, and include it to CI/CD cycle.

Here is JSON schema file we use at the dashboard.
https://gist.github.com/buger/0a11b20ab3e44b5535c25cf96169656b

[2017-07-25 12:10] marians commented on #942
Thanks for the schema Gist. Any plans to make that live in an open repository?

[2017-07-25 12:19] marians opened #943 "User should not have to provide an "id" when adding an API definition"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

When submitting a new API via `POST /tyk/apis/` without setting the `"id"` attribute, the request is accepted and a new API definition JSON is created in the `apps` directory. But the new API is not proxied.

In addition, the ID provided has to meet the criteria of a [BSON ObjectID](https://docs.mong

[2017-07-25 12:20] buger commented on #942
We do, but can't give you any ETA yet. Next milestone is very dense.

[2017-07-25 12:23] buger commented on #943
Thank you! This indeed looks like a bug. Community version should not require id in such format.

[2017-07-25 12:24] mvdan commented on #943
This is surprising - our unit tests never set this bson ID.

[2017-07-25 12:28] marians commented on #942
Thanks for you quick responses, here and in the other issues.

[2017-07-25 14:39] c1784497 opened #944 "Meta data header value of integer type produces a panic"
**Do you want to request a *feature* or report a *bug*?**
bug
**What is the current behavior?**
[code]
**What is the expected behavior?**
No error.
**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem**
Add meta data key:value pair:
`contact:0`
Add header:value pair:
`X-Contact: $tyk_meta.contact`
**Which versions of Tyk affected b

[2017-07-25 14:49] buger commented on #944
Thank you for reporting!

[2017-07-25 16:24] mhrabapayu commented on #300
@ryanwalls Hi Ryan, sorry for kicking the dead horse - but is detailed request/response logging on your roadmap for Tyk Cloud? I just checked your trello board and couldn't find that specific topic.

[2017-07-25 16:25] mvdan commented on #944
@c1784497 when you say `Add meta data key:value pair`, exactly what do you mean? How did you add it?

Could you share your API definition?

[2017-07-25 16:41] mvdan commented on #944
Please note that there are two issues here - I'm not convinced that the regex error and the interface panic are directly related.

In any case, I've found the cause of the panic.

The good news is that this is fixed in master, in a way. In stable, `MetaData` is a `map[string]interface{}`, but in master it's a `map[string]string`.

@c1784497 I assume you put in there something like `"meta_data": {"

[2017-07-25 16:42] mvdan commented on #944
I forgot to add - I clearly think we should only support strings here. It makes the JSON config easier, it makes the docs simpler and it makes the code less tricky. And I see no reason to support other types like numbers and objects.

[2017-07-25 16:43] mvdan commented on #944
As to the regex error, this is a regex compiled directly from your API definition. So I can't help you further unless you provide your entire API definition. But it seems like the issue is there, unless there's a bug in the code that I'm missing.

[2017-07-25 16:57] mvdan opened #945 "Listen paths that start with /tyk are broken in master"
If you set up an API on master with a listen path like `"/tyk-test/"` (such as in `apps/app_sample.json`, how I found it), you will get a Forbidden message.

This is because Tyk thinks you're trying to access the gateway API instead of one of the APIs set up with it.

This is a regression from master - I refactored this logic and made a mistake. We now do `muxer.PathPrefix("/tyk")`, which should p

[2017-07-25 17:35] mvdan commented on #943
I just tried to reproduce this on both 2.3.7 and master following these steps:

* Write `apps/app_sample.json` (content below)
* Start gateway
* Open browser to `http://localhost:8080/test/` (it works)

API Definition:

[code]

@marians could you please check if restarting the gateway is any better than issuing a reload? What about writing the file to disk and restarting the gateway, instead of in

[2017-07-25 19:42] lonelycode commented on #300
@mhrabapayu it isn't on our roadmap for the near future

[2017-07-25 19:49] vishalniit opened #947 "Not able to login into tyk dashboard from clean instalation on Local Standalone Cent-OS VM"
**Do you want to request a *feature* or report a *bug*?**
*bug*
**What is the current behavior?**
It gives me error while trying to login with given username & password
`[root@127 ~]# sudo /opt/tyk-dashboard/install/bootstrap.sh local.apigateway
Creating Organisation

Traceback (most recent call last):
  File "<string>", line 1, in <module>
  File "/usr/lib64/python2.7/json/__init__.py", line 290,

[2017-07-25 20:26] lonelycode commented on #947
This isn't a bug. The bootstrap script must point at the dashboard and it's most likely that the dashboard isn't running or isn't reachable on that address. Can you post this to the community forum, we can help you there (https://community.tyk.io)

[2017-07-25 20:26] #947 closed

[2017-07-26 08:17] hustshawn opened #948 "API Whilte List / Mock Response endpoint camel case bug."
**Do you want to request a *feature* or report a *bug*?**
bug
**What is the current behavior?**
Within the mock response,
For example, if I have an endpoint  as `/abc`, it will respond as what I want;
However, if create a similar response like `/aBc`, other definitions are totally same. it will not give the response I want, but give a `403` response as
[code]
and the gateway log will be
[code]
**W

[2017-07-26 08:25] hustshawn commented on #948
It seems that when defined in a camel case endpoint, the defined path would be exclude outside of the `whitelist`, that's should be what `Requested endpoint is forbidden` mean.

[2017-07-26 09:02] mvdan commented on #948
I'm not sure I understand the bug. Could you provide complete steps to reproduce it, including the API definition and what requests were made to the gateway?

[2017-07-26 09:09] hustshawn commented on #948
@mvdan  Thanks for your reply, and you probably refer to such API endpoint definition snippets.
[code]
Basically, I wanna get the mock response from  `/someEndpoint` , but it seems I can only define the name as `/someendpoint` and it may work. Otherwise i will get the previous mentioned `403` response.

[2017-07-26 11:20] mvdan commented on #948
So just to be clear, do you want both `/someendpoint` and `/someEndpoint` to work and either doesn't (when you declare the two), or do you just want one of them to work and it's wonky?

[2017-07-26 13:54] bitsofinfo commented on #509
+1

[2017-07-26 14:05] rhuiser commented on #740
This is exactly what I meant opening this CR.

Best -- Robin

Sent from my iPhone

[2017-07-26 14:07] #945 closed

[2017-07-26 14:11] mvdan commented on #938
This bug only affects stable, and it was merged. GitHub won't close unless there's a merge in master, but there won't be one. Closing manually.

[2017-07-26 14:11] #938 closed

[2017-07-26 18:06] mvdan opened #951 "config_data is restricted to map[string]string on stable"
See https://community.tyk.io/t/config-data-more-complex-values/1788.

This is fixed on master, as the type there is `map[string]interface{}`.

[2017-07-26 18:24] mvdan commented on #951
Merged.

[2017-07-26 18:24] #951 closed

[2017-07-26 19:24] bitsofinfo opened #954 "Feature: support multiple HTTP methods in Endpoint Designer"
**Do you want to request a *feature* or report a *bug*?**

feature

**What is the current behavior?**

Single HTTP method per URI match and action

**What is the expected behavior?**

Multiple HTTP methods or "ANY" per single URI match and action

In endpoint designer, I have some endpoints that can be called w/ multiple HTTP methods, currently it seems I have to keep defining separate duplicate c

[2017-07-26 20:02] mvdan opened #955 "Add a way to define a default API version for when none is requested"
If an API endpoint is versioned and a request comes through without specifying a version, we return a `Version information not found` error.

I propose adding a new setting alongside `not_versioned`, called `default_version`, that optionally sets the version that will be used if none is requested.

If `default_version` is not set or left as an empty string, the current behavior is kept.

Note that

[2017-07-26 20:06] mvdan commented on #955
I forgot to add; @lonelycode was suggesting that the gateway should in some way tell the user what version was selected. Otherwise, the API user might not have a way to know what version they're using.

One way to accomplish this would be via a `X-Tyk-*` header. For example, when a default version is set up like in the config above and the gateway falls back to it , it could set `X-Tyk-Default-Ver

[2017-07-26 21:07] michaelsogos opened #956 "Service Discovery"
Hi Guys,

We are implementing a microservice architecture with docker swarm and .net core web api; and as you know one of the most important component in this kind of system is a service discovery to proper manage failover containers and load balancing.

We love Tyk but seems that it lack this feature forcing us to add a new component like consul.io (or eureka, etc.), and is our opinion that it pr

[2017-07-26 21:37] lonelycode commented on #956
There isn't a plan to implement a service discovery system in Tyk in the short term. Though I can see the reasoning, we do have the capability to integrate with any system that provides a REST interface to handle service discovery though, so that might help (if you don;t want to install consul or etcd, you might just use a smaller homebrew API)

[2017-07-27 03:32] hustshawn commented on #948
@mvdan I want the mock response of `/someEndpoint` work.

[2017-07-27 05:18] lonelycode commented on #948
This isn't a bug, since mocks piggyback on list functionality, the inbound path is matched to the defined one in lowercase, this means that /aBc will match against /abc.

Have tu tried using the camel case request against a lowercase definition?

[2017-07-27 08:17] hustshawn commented on #948
@lonelycode Yes, it really works as what you described.  But I also find the non-mock APIs are case sensitive.  it looks wired that for mocks are non-case-sensitive, while those none mock APIs are not.

Is it possible to uniform both of them to case sensitive?

[2017-07-27 08:24] hustshawn opened #957 "Parse context variable/JWT claims when using OIDC"
**Do you want to request a *feature* or report a *bug*?**
feature
**What is the current behavior?**
The JWT claims cannot be parsed when using OIDC.
**What is the expected behavior?**
Context variables (eg. jwt_claims_CLAIMNAME)can be used and parse the JWT claims as simple JWT auth method.
**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of

[2017-07-27 08:25] lonelycode commented on #948
It's because the mocks execute alongside a list, and since lists are there for securing an API they apply case insensitivity, while others don't

Eventually we need to move the mocks into their own middleware, if you want to raise an issue for it it'll be on our radar?

[2017-07-27 08:46] hustshawn commented on #948
@lonelycode Yes. Thanks.

[2017-07-27 08:49] buger commented on #957
Actually, I believe it should work. Can you provide an example of how you trying to use it?

https://tyk.io/docs/security/your-apis/openid-connect/
https://tyk.io/docs/transform-traffic/request-headers/

Example of using it when rewriting headers
[code]

[2017-07-27 09:14] hustshawn commented on #957
@buger My configuration is like below:
[code]

Below are the headers that passed to the upstream:
[code]

[2017-07-27 09:17] buger commented on #957
As you can see, instead it should be prefixed with "$tyx_context.". See my example.

[2017-07-27 09:20] hustshawn commented on #957
@buger ya, it's my typo. Please close this issue.

[2017-07-27 09:21] #957 closed

[2017-07-27 09:21] mvdan commented on #944
Friendly ping @c1784497 - could you confirm what `meta_data` JSON object were you using?

And also see my comment above about the regex error, which I believe is unrelated and due to an issue in your API definition.

[2017-07-27 11:56] mvdan opened #959 "Investigate whether the JSVM can give proper errors"
Right now, if there is an error in someone's JS code, we log this:

[code]

This is extremely confusing. This is because we're trying to unmarshal JSON from an `undefined` string.

Surely, Otto has a better error for us in most or all of the cases. We should do a better job at logging the correct error - ideally, with a source position.

[2017-07-27 12:52] jmleoni commented on #543
👍

[2017-07-27 17:00] bitsofinfo opened #960 "Mutate proxy.target_url from JSVM middleware"
**Do you want to request a *feature* or report a *bug*?**

Feature

**What is the current behavior?**

No way to alter the proxy.target_url from JSVM middleware for the current request only

**What is the expected behavior?**

Is there anyway to mutate the proxy.target_url from middleware? (besides the url rewriter)

I have the need to define an API that supports this

http://my-es-host/[target-ba

[2017-07-27 17:06] bitsofinfo opened #961 "Add support to expose context variables to JSVM middleware"
**Do you want to request a *feature* or report a *bug*?**

Feature

**What is the current behavior?**

No access to context variables in JSVM middleware

I have a need to access some of the request context data as described here: https://www.tyk.io/docs/concepts/context-variables/

Particularly `remote_addr`, but this is not available in JSVM middleware

[2017-07-27 20:26] bitsofinfo opened #962 "url_rewrites w/ variables proxies incorrectly w/ duplicate path appended"
**Do you want to request a *feature* or report a *bug*?**

bug

**What is the current behavior?**

The issue is that w/ the API config below Tyk proxies to http://192.168.0.148:8888/_count/_count

If i make a request to http://my-es-api.test.com:8080/192.168.0.148:8888/_count

I would expect that this will proxy to http://192.168.0.148:8888/_count (per the regex url rewrite below in my api config)

[2017-07-28 04:00] othane opened #963 "mw: HMAC failure does not trigger an EventAuthFailure"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
If I call an endpoint with an invalid `Authorization` token it does not trigger a EventAuthFailure event.

**What is the expected behavior?**
I would expect an EventAuthFailure event to fire as is the case for the `JWT` or the `Auth Token` (although I might be wrong about this so please correct me befo

[2017-07-28 07:23] lonelycode opened #964 "Swagger docs won't validate in new Portal catalogue UI"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Upload a swagger doc as documentation for a portal entry, view the documentation, you will see in the bottom right that it does not validate.

This [community forum post](https://community.tyk.io/t/swagger-validation-badge-always-displays-red-error/1800) explains it as well

It looks like it is just th

[2017-07-28 08:22] mvdan commented on #962
We had (and fixed) a similar issue before: https://github.com/TykTechnologies/tyk/issues/855

I didn't want to refactor all this code in the stable release, so instead I did a smaller fix. It appears like it wasn't generic enough - I can see how it wouldn't work if the old and new paths only partially overlap.

2.3.8 is packed with quite a few important fixes already, so I'm not sure if we can get

[2017-07-28 09:23] mvdan commented on #963
You're right - this auth middleware is missing the code to fire the event. Should be a fairly easy fix.

[2017-07-28 12:39] mvdan opened #966 "Memory leak in stable if rate limiting is used with use_async_session_write"
If the config has `"optimisations_use_async_session_write": true,` and a rate limited API is hammered, we will run into a memory leak.

This can all be blamed on `go context.Set(r, SessionData, thisSessionState)`. This context set may be scheduled after we clear the entire request's context, effectively meaning we never clear the session context.

This means we also hold on to the old request obje

[2017-07-28 12:42] mvdan commented on #966
To clarify - I already did this change in master because the goroutines seemed pointless. I fixed the leak there by chance.

I verified the leak by adding a periodic print of the length of the global context map. Before the fix, hammering the gateway resulted in it growing at the pace of 100 elements a second.

After the fix, it stayed under a handful of elements, the number of concurrent requests

[2017-07-28 12:48] joesaby commented on #640
+1 for this.

Body transformations are pretty powerful. I would have liked allowing of handling complex remappings. Also the power of deep inspection of Headers to allow constructing body header would be useful.
Eg: I get a 5xx error, but i want to transform the error response to a custom error response but maintain the response code.

[2017-07-28 13:25] bitsofinfo commented on #962
Would be awesome if a fix could get in asap! thanks for looking at it

[2017-07-28 13:29] mvdan commented on #966
Merged.

[2017-07-28 13:29] #966 closed

[2017-07-28 14:05] mvdan commented on #943
I just tried again, this time even installing httpie and strictly following the instructions.

This was on 2.3.7, with the default config as written by `tyk --conf=tyk.conf` when that file doesn't exist, and with `apps/` empty.

Note that you do get a `Version information not found`, but that's a 403, not a 404.

Also note that reloads aren't blocking, and the gateway limits the amount of reloads

[2017-07-28 14:06] buger commented on #944
In my view, if we can not restrict user on value types, this will be the best option.
In theory, it can be fixed with smth like `fmt.Sprintf("%v", tempVal)` instead of direct type conversion.

[2017-07-28 14:16] mvdan commented on #944
After some discussion, we've agreed to just make the code work as the docs describe - at least, for 2.3.8. The docs say string key/value map, so only strings are allowed.

In other words, use `"0"` instead of `0`.

These values are only to be used in headers, and headers are strings, so any other type makes little sense.

I'll submit a patch for 2.3.8 to avoid the panic, though.

[2017-07-28 16:25] matiasinsaurralde opened #969 "GIL error when starting Tyk"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
When Tyk starts it throws a Python GIL error, when loading plugins. This happens intermittently.

**What is the expected behavior?**
This is related to #761, which was for reload errors.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the pro

[2017-07-29 09:24] othane commented on #963
Cool, thanks for the quick response !! ... I am not much of a Go developer, but I will try my hand at a PR in the next few days. I have something I think basically works now, but I need to brush up on my unit testing in Go :)

[2017-07-29 10:30] mvdan commented on #963
Happy to review a patch!

We currently have no tests that run an entire auth middleware and check that they sent an event. However, `mw_hmac_test.go` does have tests that set up an http middleware chain and run a request through the HMAC middleware in various scenarios.

It should be possible to add a check that EventAuthFailure was sent if and only if the auth failed.

[2017-07-30 22:15] lonelycode opened #971 "Enable initial REST to gRPC proxying"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
We can't proxy to gRPC endpoints directly.

**What is the expected behavior?**

1. I should be able to upload, or use a CLI command to generate a Go-plugin from a `protoc` file.
2. Reference this plugin name from my API Definition in a `grpc_endpoints` section in the MW.
3. Add paths to the `grpc_e

[2017-07-31 11:23] mvdan commented on #943
Since I wasn't able to reproduce, and it's been a week, I'll move to 2.4 under the assumption that this was a reload issue and not an API definition issue.

[2017-07-31 11:36] othane commented on #963
Hi mvdan, thanks for the advice.

I have the simple part ready to go I think (https://github.com/othane/tyk/commit/efe83a26e0aca891b6017a3640aeb58685d692e3)

I have tested this with `fmt.Printf` statements and it seems to work, but I think I am a bit out of my depth with mocking the `AuthFailed` call in go to ensure it is fired when the tests fail. Do you have any advice?

I didn't want to submit

[2017-07-31 11:45] mvdan commented on #963
You don't need to mock `AuthFailed` - what it does is fire an event. That event goes to whatever event handler an API spec (the internal structure for an API definition plus extra info) has registered.

A good example is this, from the host checker tests: https://github.com/TykTechnologies/tyk/blob/master/host_checker_test.go#L88

Basically, you want a test that has an API spec with an `EventAuthF

[2017-07-31 23:23] othane commented on #963
Cool thanks for the support. I will try to do a test in the next couple of days as you suggest but if I don't get there I'll sing out for some help thanks. It is a nice change for me to do some GO, but I just need to find time :)

[2017-08-01 09:41] mvdan commented on #944
Merged.

[2017-08-01 09:41] #944 closed

[2017-08-01 15:39] bitsofinfo opened #973 "Feature: JSVM import common code/routines from other files"
**Do you want to request a *feature* or report a *bug*?**

Feature

**What is the current behavior?**

The only way to reference common JSVM code/functions is to place them in tyk.js

**What is the expected behavior?**

Should be able to include or reference other custom JSVM functions that are defined in other files

https://community.tyk.io/t/reference-other-jsvm-middleware-functions/1808/3

[2017-08-01 18:25] buger opened #974 "Add global request timeout on API level"
**Do you want to request a *feature* or report a *bug*?**
feature
**What is the current behavior?**
Currently, default upstream response timeout is 10 seconds, and if needed more, it require specified "enforced timeout" for the each URL.

It should be possible to specify timeout on the global API level.

**Which versions of Tyk affected by this issue? Did this work in previous versions of Tyk?**
A

[2017-08-01 18:29] buger commented on #974
It is actually a bit weird that timeout is 10s, because it should be 30s by default. The only 10s I see is the TSL handshake timeout, but it can happen only if smth wrong with SSL on the other side, not request timeout itself.

https://github.com/TykTechnologies/tyk/blob/release-2.3/tyk_reverse_proxy_clone.go#L316

[2017-08-01 18:29] buger commented on #974
It is quite easy to test using http://httpstat.us/200?sleep=300000 (5 minutes).

[2017-08-01 19:12] bitsofinfo opened #975 "Tyk mutates header casing on JSVM request.SetHeader"
**Do you want to request a *feature* or report a *bug*?**

bug

**What is the current behavior?**

I do this

[code]
Then if I do

`request.Headers["x-my-header"]` its not found. Tyk camel cased it.... as "X-My-Header"

**What is the expected behavior?**

Leave the SetHeaders casing alone as the user specifies them

**Which versions of Tyk affected by this issue? Did this work in previous versions

[2017-08-02 00:02] mvdan commented on #975
This is sort of expected, as Go's net/http canonicalizes all headers when setting and getting them.

@matiasinsaurralde this is why I was mentioning that we should have used setter and getter funcs too - otherwise `req.Headers["foo"]` and `req.Headers["Foo"]` aren't the same, when they should be.

@bitsofinfo I'm not sure if we can fix this inconsistency while staying backwards compatible. In the

[2017-08-02 07:15] buger commented on #973
I think the easiest solution here is to make `tyk_js_path` config option support directories. So instead of pointing to js file, it will point to a directory and load all of the JS files it can find.

[2017-08-02 14:27] bitsofinfo opened #977 "Permit inline edit/re-import of API JSON config through dashboard"
**Do you want to request a *feature* or report a *bug*?**

Feature

**What is the current behavior?**

Today I can export an API def to JSON, then edit it, but I must DELETE the API and then re-import it to utilize that edit (this also causes the API id to change)

In my use case I need to add some custom PRE middleware to the API def, my PRE middleware plugins utilize data from the `config_data`

[2017-08-02 14:28] bitsofinfo commented on #975
yes not a huge deal but more of an annoyance. These should be case insensitive

[2017-08-02 14:29] bitsofinfo commented on #973
I'd be good with that! Right now I'm having to chain communication through multiple middleware steps in the "PRE" section via custom headers I am injecting on the request to convey state of the processing flow.

[2017-08-02 14:29] bitsofinfo commented on #929
any thoughts on this?

[2017-08-02 14:30] bitsofinfo commented on #954
Any thoughts on this? Without this it makes for a lot of repetitive declarations when multiple verbs are allowed on certain endpoints

[2017-08-02 14:52] buger commented on #954
Make sense! I added this to the milestone.

[2017-08-02 14:52] buger commented on #929
Assigned milestone. Make sense.

[2017-08-02 16:02] bitsofinfo opened #978 "Expose API context information to JSVM middleware"
**Do you want to request a *feature* or report a *bug*?**

Feature

**What is the current behavior?**

Currently the parameters passed to JSVM middleware don't contain any info about the API context being invoked.

**What is the expected behavior?**

Would be great to get some contextual information about what API is being invoked (api_id, org_id, etc)

**Which versions of Tyk affected by this iss

[2017-08-02 16:03] bitsofinfo commented on #978
in addition to this: https://github.com/TykTechnologies/tyk/issues/961

[2017-08-02 20:45] lonelycode commented on #977
You can use the dashboard API and just PUT the API back? There's full CRUD functionality built into every dashboard operation (the dashboard is just itself an API client)

also, instead of the API file export, use the dashboard GET api for the api definition?

This is the API in question:

https://www.tyk.io/docs/tyk-dashboard-api/api-definitions/

[2017-08-02 20:46] bitsofinfo commented on #977
Correct, but I've got a bunch of admins that are not developers who don't know/do REST! :)

[2017-08-02 21:18] mvdan commented on #978
I believe @buger proposed this internally already, as an extension to `config_data`.

[2017-08-02 21:20] mvdan commented on #975
@bitsofinfo indeed they should be case insensitive - as said above, I think this was an unintended design error. Would like to hear @matiasinsaurralde's opinions before we milestone this.

[2017-08-03 03:05] ryanwalls opened #979 "Feature request: Expose prometheus metrics endpoint"
**Do you want to request a *feature* or report a *bug*?**
Feature

Would be great if a prometheus metrics endpoint could be exposed so we could scrape metrics about API activity.

[2017-08-03 11:32] tumluliu commented on #872
sorry that I have to upvote this feature by myself again because more and more of our OpenRouteService users are complaining about this unclear, unchangeable "Key not authorised" message when their requests are rejected by our custom tyk plugin.

OpenRouteService is really looking forward to seeing this issue be resolved soon. BIG THANKS!

[2017-08-03 12:11] buger commented on #872
@matiasinsaurralde can you think about the easiest way to solve this issue?

In my view it can be quite easily solved by replacing
[code]
with
[code]

@tumluliu do you think it should be enough?

[2017-08-03 12:23] tumluliu commented on #872
thanks a lot for your reply! @buger

I totally agree with you because I have checked that part of the source code before. I think it should be very easy as well. But @lonelycode thought it was not that easy because there would be some "backward compatibility" problem. He mentioned that in the tyk support ticket I opened.

[2017-08-03 12:59] matiasinsaurralde commented on #872
@leon that solution looks good!

[2017-08-03 14:11] bitsofinfo opened #980 "Can't search "Activity by Key" via key alias"
**Do you want to request a *feature* or report a *bug*?**

bug

**What is the current behavior?**

I have a key w/ an alias, but in "Activity by Key" I can't search on it. Only the key hash itself works. Its listed in the view, but who wants to page through everything to find a key via an alias?

**What is the expected behavior?**

Searching should also interrogate against alias

**Which versions

[2017-08-03 14:30] ConsM commented on #980
Thanks for your suggestion.
This is more like an enhancement rather than a bug and it's already in our Dashboard backlog, it will appear in a feature release.

[2017-08-03 14:30] #980 closed

[2017-08-03 14:34] bitsofinfo opened #981 "Feature: expose murmur3 hash function to JSVM middleware"
**Do you want to request a *feature* or report a *bug*?**

feature

**What is the current behavior?**

I have no way to replicate hashed key values from within JSVM middleware, this can lead to un-needed complexity w/ doing custom Auth Token header implementation, vs what is actually stored as the key name in redis, leading to having to use aliases, that can't be searched on.

See: https://communi

[2017-08-03 18:07] buger commented on #872
@lonelycode do you have any objections over such patch?

[2017-08-04 13:10] #969 closed

[2017-08-04 14:34] tumluliu opened #985 "[dashboard] search in developers"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
no search box for developers

**What is the expected behavior?**
search developers by their registered email address

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem**

**Which versions of Tyk affected by this issue? Did this w

[2017-08-04 14:39] buger commented on #985
It is already implemented for the next major release :)

[2017-08-04 14:39] #985 closed

[2017-08-04 14:39] ConsM commented on #985
Thanks for your suggestion!
This feature has been in our backlog and it will appear in the 1.4 release.

[2017-08-04 14:43] tumluliu commented on #985
thanks a lot for the lighting quick response, Kos!

[2017-08-04 14:44] buger commented on #979
Actually, I think this feature should be implemented on the Tyk Pump side.

[2017-08-04 14:57] mvdan commented on #981
Note https://github.com/TykTechnologies/tyk/issues/509 - we should plan ahead for a future where Tyk's hash function is not limited to murmur3.

In that scenario, we should probably make the high-level "hash" function available in the JSVM, saying that it's the same that Tyk itself uses at the moment, but without ensuring that it's always murmur3.

Unless murmur3 is particularly useful in JS for s

[2017-08-04 15:02] mvdan opened #987 "Data race flake in TestGetAPISpecsRPCSuccess"
[code]

[2017-08-04 15:02] mvdan commented on #987
Found on Travis CI on an unrelated change. Not linking because the log will be overwritten.

[2017-08-04 15:14] mvdan opened #988 "Figure out the double-sorting of APIs fed to the router"
Around line 50 of `api_loader.go`:

[code]

All the APIs are fed to the main HTTP router shortly after this.

The intent here is to avoid conflicts, such as `/foo` being loaded before `/foo-bar`. thus making the second API not work as they would simply go through the first.

But the code is clearly broken. These are not stable sorts, thus the first sort is completely useless. At the moment, we can

[2017-08-04 15:16] buger commented on #988
Right, so the right way to fix the issue define single sorting function `SortableAPISpecListByHostAndListen`, which will sort by both params.

[2017-08-04 15:17] mvdan commented on #988
This is the same as making the second sort stable. But my main point here is why did we ever need sorting by hostname in the first place. I can't see a reason why it would be useful.

[2017-08-04 15:18] buger commented on #988
You can have APIs on the different domains, but with same listen paths.

[2017-08-04 15:23] mvdan commented on #988
Yes, of course - but how is the sorting relevant at all. As said, the hostname matching should be an exact match, not a prefix match.

[2017-08-04 15:57] buger commented on #988
Right, I see what you mean now. So since host names bind to separate domains, there can't be any listen path conflict between them apriori. So this check is redundant.

[2017-08-04 17:30] #422 closed

[2017-08-05 09:01] mvdan commented on #422
To clarify, we've decided to set the default user agent in the Tyk reverse proxy to `Tyk/VERSION`, like `Tyk/v2.3.7`. This default will not be set if an user agent was set by the client, even if it was empty.

We haven't added an option to change when the user agent is set and the user agent string itself. We haven't seen a user specifically ask for these two things. If anyone would find either us

[2017-08-07 10:44] buger opened #989 "Way to whitelist Tyk IPs for the Cloud Gateways"
**Do you want to request a *feature* or report a *bug*?**
feature
**What is the current behavior?**
Right now the only way for the upstream API to limit access only to Tyk Cloud infrastructure is to use HTTP basic auth, or some internal auth mechanism.
**What is the expected behavior?**
It should be possible to have upstream API behind a firewall and only white-list access to Tyk Cloud Gateways.

[2017-08-07 15:03] bitsofinfo opened #990 "List all valid "driver" options for plugin bundle documentation"
https://tyk.io/docs/customise-tyk/plugins/rich-plugins/plugin-bundles/

Only lists python, please list all valid values for "driver"

[2017-08-07 15:19] bitsofinfo commented on #981
I just have a scenario where I would like to

a) hash fast (embedding a hash func in JS is super slow compared to being able to access go's crypt libs)

b) hash in the same method as however Tyk is doing so if enabled

[2017-08-07 15:25] buger commented on #990
@marksou ^

[2017-08-07 15:29] bitsofinfo opened #991 "transport: No gRPC URL is set"
I need to use the bundle downloader to pull a some `otto` js middleware and use it in an api.

To do this, one of the options it says I must turn on is `enable_coprocess`

[code]

I do this and restart the gateway, then I start getting these errors regarding GRPC... I have no need for GRPC

[code]

[2017-08-07 18:12] bitsofinfo opened #992 "middleware bundle downloader fails w/ "otto" driver"
**Do you want to request a *feature* or report a *bug*?**

bug

**What is the current behavior?**

In my gateway's (2.3.7)  tyk.conf the following is setup

[code]
My API def has the following:

    "custom_middleware_bundle": "my-bundle.zip",

I can download manually in a browser: http://192.168.0.216:8888/tyk/my-bundle.zip (its unsigned)

I next restart the gateway and get this in the logs:

[co

[2017-08-07 18:30] #872 closed

[2017-08-07 19:42] ilijabojanovic opened #993 "Gateway build failing"
Branch: release-2.3
environment: all

When we try to build gateway we have this error:

tyk-gateway_1    | # github.com/TykTechnologies/tyk
tyk-gateway_1    | ./tyk_reverse_proxy_clone.go:405: undefined: globalConf in globalConf.ProxyDefaultTimeout
tyk-gateway_1    | ./tyk_reverse_proxy_clone.go:424: undefined: globalConf in globalConf.ProxyDefaultTimeout
compose_tyk-gateway_1 exited with code 2

[2017-08-07 20:10] bitsofinfo opened #994 "Feature: expose HTTP request attributes in the JSVM 'request' object"
**Do you want to request a *feature* or report a *bug*?**

feature

**What is the current behavior?**

In JSVM middlewhere I have no ability to detect and or do something based on the HTTP method of the request, host header etc.

**What is the expected behavior?**

I should be able to get all attributes of the http request, including the method (GET/POST... etc etc), host header.. all or nothing!

[2017-08-07 20:31] bitsofinfo opened #995 "Feature: capture "version" via regex from URL"
**Do you want to request a *feature* or report a *bug*?**

feature

**What is the current behavior?**

For capturing "version" in a URL, I'm limited to the FIRST element only.

https://community.tyk.io/t/api-endpoint-designer-whitelisting-issue/1829/16?u=bitsofinfo

**What is the expected behavior?**

I should be able to extract a "version" value from anywhere in the URL. First, Last, or something

[2017-08-08 01:39] matiasinsaurralde commented on #992
I've been able to reproduce this, the main issue is that the `LoadJSPaths`expects the path to be set.
When a JS manifest is prepared and a bundle is generated, the manifest looks like this:
[code]
When `LoadJSPaths` iterates it doesn't get the paths to the actual files and it breaks. I will send a patch soon.
As a workaround for users that are getting this error, they should append the path in the

[2017-08-08 02:32] hustshawn opened #996 "JWT authentication bug in latest release v2.3.7"
**Do you want to request a *feature* or report a *bug*?**
bug
**What is the current behavior?**
When using JWT auth, always got
[code]
and I am sure the policy was created and linked to the api, and the policy id in JWT is correct.
Sometimes, I found it was due to the `sub` field in the JWT, in my another case, if the `sub` is `"0"`, I can get passed the auth, but other values cannot pass.
**What

[2017-08-08 03:37] lonelycode commented on #996
This is not a claim, it is a header, which is why this probably will not work. Add a new claim for the policy for this to work with JWT. `kid` is reserved for key IDs

[2017-08-08 03:58] hustshawn commented on #996
Just find if I put the `kid` in JWT payload, the auth passed.

It is quite annoying that such kind of behavior changed in blackbox. It should have had a reason or announcement to tell it works in previous version but current release not.

[2017-08-08 04:05] mvdan commented on #993
Can be easily spotted: https://github.com/TykTechnologies/tyk/commits/release-2.3

Should be an easy fix - assigning to @buger since he broke it

[2017-08-08 04:06] lonelycode commented on #996
That's quite a long time ago, what did yu upgrade from?

The change is because the kid header is reserved for key IDs, therefore if the JWT is used elsewhere you break the spec.

Better idea is to not use a reserved header.

[2017-08-08 04:06] #996 closed

[2017-08-08 13:36] bitsofinfo commented on #992
Confirmed the workaround of listing the paths fixes it.

[2017-08-08 13:42] bitsofinfo commented on #995
For more context: https://community.tyk.io/t/api-endpoint-designer-whitelisting-issue/1829/7?u=bitsofinfo

[2017-08-08 13:45] bitsofinfo commented on #994
For more context, I need this because due to the inability to do versioning w/ my URIs I need to port to Tyk: https://github.com/TykTechnologies/tyk/issues/995

My goal is to whitelist certain URLs and HTTP methods, trying to do it this way doesn't fit my need: https://community.tyk.io/t/api-endpoint-designer-whitelisting-issue/1829/7?u=bitsofinfo

So I'd just like to write a middleware plugin whe

[2017-08-08 15:02] buger opened #998 "JSVM `rawlog` does support Logger hooks (Syslog and etc)"
**Do you want to request a *feature* or report a *bug*?**
bug
**What is the current behavior?**
If in addition to stdout enabled additional logging like Syslog, `rawlog` will not log to it.
**What is the expected behavior?**
It should work with all hook types

**Which versions of Tyk affected by this issue? Did this work in previous versions of Tyk?**
All

[2017-08-08 15:08] #998 closed

[2017-08-08 15:19] #993 closed

[2017-08-08 15:20] #940 closed

[2017-08-08 16:54] bitsofinfo commented on #962
Can this please get into 2.3.8? Really need it

[2017-08-08 17:01] buger commented on #962
@bitsofinfo what if you change your regexp to `"/([^/]*)/(_search|_count)" ?

[2017-08-08 17:24] bitsofinfo commented on #962
Still getting the duplication of $2

[2017-08-08 17:45] bitsofinfo commented on #951
@mvdan just want to confirm that this will support a fully nested/typed JSON element for `config_data` meaning complex object keys, ints, booleans, strings etc.

[2017-08-08 18:30] buger commented on #962
Can you pls provide logs when TYK_LOGLEVEL env variable set to "debug"

[2017-08-08 18:34] bitsofinfo commented on #962
TYK_LOGLEVEL should be set where, as an ENV var for the docker container? for the gateway?

[2017-08-08 18:36] buger commented on #962
Yes, it should be visible to the gateway process.

[2017-08-08 19:01] bitsofinfo commented on #962
docker inspect shows

[code]

[2017-08-08 19:07] bitsofinfo commented on #962
Nothing more in the logs w/ that enabled other than

[code]

[2017-08-08 22:29] ilijabojanovic commented on #964
I need to reopen this issue since fix is on visible on staging cloud:

Here is example:
https://tyk-qa-test-org.cloudv2.tyk.io/portal/apis/598a38a8082a9500010f23c7/documentation/

Validator is still red and we don't have domain in url:
https://online.swagger.io/validator/debug?url=/portal/apis/598a38a8082a9500010f23c7/documentation/raw

Also i tried to update new swagger doc, still same.

https://

[2017-08-09 08:12] mvdan opened #1000 "Add tests for all logging hooks like syslog"
We have no regression tests for any of this. We've also forgotten about them in certain new features, for example see https://github.com/TykTechnologies/tyk/issues/998.

[2017-08-09 08:16] ilijabojanovic commented on #964
Here is updated url:
https://tyk-qa-test-org.cloudv2.tyk.io/portal/apis/598a3b811ea6180001fc0f73/documentation/

[2017-08-09 09:42] mvdan opened #1002 "JSVM log tests now spit output to terminal"
[code]

@buger this is likely your recent `rawlog` fix. I might have time for this today.

[2017-08-09 10:21] ConsM commented on #964
@ilijabojanovic if you check the page source of the url you provided you will see that it still uses the old code inside the `getUrl` function
Here https://github.com/TykTechnologies/tyk-analytics/blob/master/portal/templates/swagger.html#L58 is the updated function that it should work

[2017-08-09 10:46] mvdan commented on #1002
I'm a bit confused by this fix. Why is `log.RawFormatter` and `log.GetRaw` necessary?

The reason behind the breakage is this regression:

[code]

You've made the JSVM use a global, but I avoided that on purpose because it was racy. You're just lucky enough that nothing else uses `rawLog` just yet - but once more stuff starts using it, data races will pop up.

And, of course, this bit of code in t

[2017-08-09 11:55] ilijabojanovic commented on #964
@ConsM yes, seems latest changes are not on dashboard staging cloud.
@buger could you deploy dashboard again on staging cloud?

[2017-08-09 14:42] buger commented on #1002
Logs formatting in `logrus` achieved by `Formatters`, it can be JSON or plain text formatters by default, but can be extended. By default logrus outputs to its `Out`, but if you add hooks, it will output to both `Out` and all of the hooks. I checked logrus API, and can't find a way to iterate through list of Hooks and write to them directly. In addition you can't dynamically change `Formatter` of

[2017-08-09 14:45] mvdan commented on #1002
What about the races? As long as this tests modifies the global loggers, it's bound to be racy sooner or later.

[2017-08-09 14:54] #962 closed

[2017-08-09 15:12] #1002 closed

[2017-08-09 15:25] buger commented on #962
Added to 2.3.8 👌

[2017-08-09 15:25] bitsofinfo commented on #962
Awesome, thanks guys

[2017-08-09 20:35] bitsofinfo commented on #992
Note this error still exists: `Couldn't create bundle directory: mkdir middleware/bundles/c9bd7307806b495c7a5971c72087f75f-my-bundle.zip`

I still need to manually go into the gateway and create that bundles directory...

[2017-08-09 20:39] bitsofinfo opened #1006 "TykMakeHttpRequest should obey proxy_ssl_insecure_skip_verify"
**Do you want to request a *feature* or report a *bug*?**

feature/bug

**What is the current behavior?**

`TykMakeHttpRequest` can't make calls to self-signed CA or mis-matched hostname backends

[code]

**What is the expected behavior?**

There should be an option/param/flag for `TykMakeHttpRequest` OR it should just obey what the gateway's `proxy_ssl_insecure_skip_verify` setting says

**Which

[2017-08-09 21:10] lonelycode commented on #1006
One workaround for this is to add the certificate to the trusted certificate store on the requesting box, it should bubble through.

`TykMakeHttpRequest` does not use the proxy, so it will use a different client, which is why the setting isn't applied. Though I guess it should.

[2017-08-09 21:15] bitsofinfo commented on #1006
K, then I'd suggest another flag arg to the `TykMakeHttpRequest` component to toggle this

[2017-08-10 14:01] ilijabojanovic commented on #964
Verified and fixed on staging-cloud

[2017-08-10 14:01] #964 closed

[2017-08-10 20:43] bitsofinfo commented on #975
@mvdan fyi, writing/reading headers in ALL_CAPS makes no difference, tyk still camel cases everything and you must force fetch camel-cased

[2017-08-10 20:49] lonelycode commented on #975
The camel casing comes from Go's parser, it automatically changes the case, so we don't actually know the original header case.

The only option as @mvdan said is to use a getter and setter that filters this - but what gets proxies will probably still be camel cased.

[2017-08-13 06:09] mad3310 opened #1009 "How to use routing key on header to process different target path?"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
No have the routing key to config, only have the version mechanism.

**What is the expected behavior?**
Client send the routing key on the header to gateway, gateway retrieve the routing key and inquire the routing table, then transfer the request to associated back end URL.
routing key: customer i

[2017-08-14 22:10] Rtowne-Janrain opened #1010 "Feature request for global transform"
This is a feature request to have a global transform/middleware ability not tied to specific API's.

For example,
if all API's should include a header transform to add `Strict-Transport-Security: max-age=xxxxxx;`, it would be nice to have a central place to add this as opposed to making sure each individual API remembers to add it to its config.

This is a new feature request based on v2.3.7 curre

[2017-08-15 19:40] bitsofinfo commented on #1010
+1

But also make it configurable for applicable for multiple API_IDs, like a grouping....but not necessarily blanket "all" coverage

[2017-08-15 19:41] nfedyk commented on #1010
+1 we can benefit from this

[2017-08-15 19:46] bmudda commented on #1010
+1

[2017-08-15 20:34] bitsofinfo opened #1011 "panic: runtime error: invalid memory address or nil pointer dereference"
**Do you want to request a *feature* or report a *bug*?**

bug

**What is the current behavior?**

My listen path is `/my/api/1.0`, strip listen path is checked

I need to whitelist GET's to `/my/api/1.0?wsdl`

In a GET whitelist I put in `?wsdl` and get this stack trace on a request to the gateway

In a GET whitelist I put in `/?wsdl` throws no error but doesn't work (get forbidden on a request)

[2017-08-15 21:32] lonelycode opened #1012 "Allow version pinning at the token level"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
While I can force access to a version of an API, I can't pin it so that even if no version header exists, the user will always be guaranteed the correct version (this has implications with #955).

**What is the expected behavior?**
I should be able to set a flag on a session object to default to th

[2017-08-16 08:18] mvdan commented on #1010
Please use reactions like thumbs up instead of ading +1 comments - the latter will just send notifications to everyone and make the thread longer to no benefit.

[2017-08-16 08:21] mvdan commented on #1011
Thanks for the report - will look into this straight away.

Could you provide your gateway config and the API definition you're using?

[2017-08-16 08:24] #963 closed

[2017-08-16 09:21] lonelycode commented on #1010
Would suggest having all or specific JS functions might be the most effective thing to do here:

- Add a new middleware hook that fires regardless of the in bound API listen path, this takes care of a global inbound traffic
- Make it easier to write generic specific JSVM code by introducing a shared namespace for the JSVM as suggested in #853 e.g. some kind of tyk_contrib.js which can be added to

[2017-08-16 20:58] lonelycode commented on #1006
The workaround described above is this:

https://unix.stackexchange.com/questions/90450/adding-a-self-signed-certificate-to-the-trusted-list

[2017-08-16 21:28] lonelycode opened #1013 "Allow '.' in slugs"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Slugs do not allow '.', they should for versioned URLs

**What is the expected behavior?**
I should be able to use '.'

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem**
This only affects hybrid

**Which versions of Tyk affected by

[2017-08-17 16:00] bitsofinfo opened #1014 "Dashboard: "Traffic Activity by Key" should show alias in title"
**Do you want to request a *feature* or report a *bug*?**

feature

**What is the current behavior?**

click on a key w/ an alias, the alias is not displayed in dashboard "Traffic Activity by Key"

**What is the expected behavior?**

Should show the alias

1.3.7

[2017-08-17 18:03] bitsofinfo commented on #1013
So is this restriction for a particular reason or side effect of an underlying lib?

[2017-08-17 18:12] mvdan commented on #1013
@bitsofinfo this was an oversight in our own code - and I believe the fix has already been merged for the .3.8 releases.

[2017-08-17 18:12] #1013 closed

[2017-08-17 18:13] bitsofinfo commented on #1013
K, was looking in the release notes and didn't see this linked

[2017-08-17 18:14] mvdan commented on #1013
In https://github.com/TykTechnologies/tyk/releases/tag/v2.3.8, you can see it under the dashboard changelog: `Fix API spec validation for URL containing dot . symbol`.

[2017-08-17 18:45] bitsofinfo commented on #1013
Just pulled the 1.3.8/2.3.8, running a hybrid container and still seeing the '.' being stripped from the slugs

[2017-08-17 18:58] lonelycode commented on #1013
@bitsofinfo have you hard -refreshed your dashboard?

[2017-08-17 19:08] lonelycode commented on #1013
@bitsofinfo This was an error on our part, the change made it to package, but not to cloud - that's being addressed now.

[2017-08-17 19:13] mvdan commented on #1013
@bitsofinfo thanks for the quick report :)

[2017-08-17 19:25] bitsofinfo commented on #1013
cloud is fixed, thanks!

[2017-08-18 22:59] lflorit commented on #164
Hello, I would like very much to do what msheldonfl is describing here. Would you elaborate on the regex solution? I don't understand how you can map the 2 paths to 2 APIs
/organisation/{id}/resource1/ -> API1
/organisation/{id}/resource2/ -> API2
Thank you

[2017-08-21 08:21] mvdan commented on #638
Friendly ping @etsatsina

[2017-08-21 08:35] nickReyn opened #1015 "Add support for public key in HMAC auth"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
Automatically generates a shared HMAC secret

**What is the expected behavior?**
The client generates an RSA public/private key pair and then sends the public key to the customer which is held with the tyk key (instead of the HMAC secret). On receiving the request the only change to HMAC auth is th

[2017-08-21 14:35] mvdan commented on #1011
Okay, so the issue here is simpler than I thought.

The cause is the regex `?wsdl` - it's not a valid regex. If you try this with Tyk built from master, it will error on startup with:

    panic: regexp: Compile(`?wsdl`): error parsing regexp: missing argument to repetition operator: `?`

In other words, you probably want `\?wsdl`.

The reason why 2.3.x panics with a more confusing message is beca

[2017-08-21 14:35] #1011 closed

[2017-08-21 15:58] excieve opened #1017 "Remote address context variable should be aware of proxies"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Currently `remote_addr` context variable for header/body transformations only accounts for the last direct hop (or whatever golang http request's `RemoteAddr` provides). This doesn't serve much purpose when the gateway is accessed through a reverse proxy or a load balancer (such as on Tyk Cloud).

**Wh

[2017-08-21 16:17] mvdan commented on #1017
I've touched this code before, should be simple enough.

[2017-08-21 16:31] mvdan opened #1019 "Support X-Real-IP when detecting the original IP address"
We support `X-Forwarded-For` as well as `r.RemoteAddr`. We should add `X-Real-IP` too, with precedence since it's the closest to the "real" IP we can get. This should be added to the `requestIP` helper function.

CC @excieve

[2017-08-22 09:22] #703 closed

[2017-08-22 12:33] mvdan commented on #943
Without more information or feedback, I'm going to have to close this assuming that it was a reload issue. @marians if you think I'm wrong, please re-open the issue with details. Thanks.

[2017-08-22 12:33] #943 closed

[2017-08-22 12:35] mvdan commented on #638
Since there hasn't been a reply, I'll assume this was a misunderstanding of the code as I explained above. @etsatsina if you think I'm wrong, feel free to re-open this issue with details. Thanks.

[2017-08-22 12:35] #638 closed

[2017-08-22 12:57] #987 closed

[2017-08-22 17:48] #988 closed

[2017-08-23 15:35] mvdan commented on #520
Not replacing just yet, and this hasn't been an issue as of late. Moving to 2.5.

[2017-08-24 09:28] mvdan commented on #200
There was no more information, so I'm closing this for now. There is little we can do without knowing the cause or being able to reproduce the problem.

[2017-08-24 09:28] #200 closed

[2017-08-24 11:27] nickReyn commented on #357
![](https://github.trello.services/images/mini-trello-icon.png) [Client Certificate Authentication support](https://trello.com/c/2868N73N/417-client-certificate-authentication-support)

[2017-08-24 11:30] nickReyn commented on #355
![](https://github.trello.services/images/mini-trello-icon.png) [Multiple policies per token](https://trello.com/c/9MVuOlkW/427-multiple-policies-per-token)

[2017-08-24 12:08] mvdan commented on #797
@buger remind me what the old rate limiter is again - was it `RedisRolling` or `Sentinel`? I understand that `NonTransactional` is the new and recommended one.

[2017-08-24 12:09] mvdan commented on #797
And `SessionLimiter.ForwardMessage` also has a fallback in-memory rate limiter. I'm a bit confused.

[2017-08-24 13:05] nickReyn commented on #639
![](https://github.trello.services/images/mini-trello-icon.png) [As a user I should be able to define routing rules based on a combination of header, query param, content and path components](https://trello.com/c/rnM3o0mj/464-as-a-user-i-should-be-able-to-define-routing-rules-based-on-a-combination-of-header-query-param-content-and-path-components)

[2017-08-24 13:22] nickReyn commented on #651
![](https://github.trello.services/images/mini-trello-icon.png) [As a user I should be able to tag api versions](https://trello.com/c/52xeO191/465-as-a-user-i-should-be-able-to-tag-api-versions)

[2017-08-24 13:25] nickReyn commented on #689
![](https://github.trello.services/images/mini-trello-icon.png) [When detailed recording is switched on, the body data that gets recorded should be sanitised of any sensitive information](https://trello.com/c/cgE9XOfe/467-when-detailed-recording-is-switched-on-the-body-data-that-gets-recorded-should-be-sanitised-of-any-sensitive-information)

[2017-08-24 13:25] nickReyn commented on #790
![](https://github.trello.services/images/mini-trello-icon.png) [Allow to specify custom analytics tags using headers](https://trello.com/c/alO1EibF/468-allow-to-specify-custom-analytics-tags-using-headers)

[2017-08-24 13:49] nickReyn commented on #351
![](https://github.trello.services/images/mini-trello-icon.png) [Fix binary and UTF-8 support in JSVM](https://trello.com/c/vkh4RA3S/459-fix-binary-and-utf-8-support-in-jsvm)

[2017-08-24 13:50] nickReyn commented on #784
![](https://github.trello.services/images/mini-trello-icon.png) [Deprecate Health check API](https://trello.com/c/3og0FQCM/461-deprecate-health-check-api)

[2017-08-24 13:51] nickReyn commented on #336
![](https://github.trello.services/images/mini-trello-icon.png) [Configuration linter](https://trello.com/c/Mpg3Od5L/462-configuration-linter)

[2017-08-24 14:05] nickReyn opened #1032 "Extend analytics logs in Dashboard to provide a way to identify which gateway wrote which log entry"
**Do you want to request a *feature* or report a *bug*?**
Feature
**What is the current behavior?**
In mongoDB tyk_analytics we can't identify a certain gateway that made the log entry. There's no IP or gateway ID or anything, except in the rawrequest , but that's base64 encoded, and really hard to extract information form it.

**What is the expected behavior?**
A way to identify which gateway wro

[2017-08-24 14:05] nickReyn commented on #1032
![](https://github.trello.services/images/mini-trello-icon.png) [Extend analytics logs in Dashboard to provide a way to identify which gateway wrote which log entry](https://trello.com/c/MxHq5aHg/479-extend-analytics-logs-in-dashboard-to-provide-a-way-to-identify-which-gateway-wrote-which-log-entry)

[2017-08-24 21:26] danilobreda opened #1033 "Recommendation for "The underlying connection was closed: The connection was closed unexpectedly""
On Gateway v2.3.3:
When i try to create a key using Oauth and the Api is duplicated or configured wrong i get:

`2017/08/24 20:51:54 http: panic serving 172.31.10.5:63060: runtime error: invalid memory address or nil pointer dereference
goroutine 4795 [running]:
net/http.(*conn).serve.func1(0xc420ef7200)
        /usr/local/go/src/net/http/server.go:1491 +0x12a
panic(0xcc7600, 0xc42000c0c0)

[2017-08-24 22:58] lonelycode commented on #1033
Sorry to hear that, it is unfortunate.

We can't protect against that

Were you using the dashboard for integration? If you were using the Dashboard, then it shouldn't have allowed you to add a duplicate API. The Gateway doesn't have that many checks for dupes except for when the APIs get loaded.

v2.3.4 of the gateway improved dupe detection even more, so you might want to try that.

A panic is n

[2017-08-25 04:49] hustshawn opened #1034 "Policy source as file is not valid"
**Do you want to request a *feature* or report a *bug*?**
bug
**What is the current behavior?**
[code]
Configured the policy as above, and I can see the policy is loaded when the tyk starts. But actually, the data in the policies.json is not applied, which can be verified via the dashboard.
**What is the expected behavior?**
Load the policy as what I defined in the separated `policies.json` file,

[2017-08-25 06:27] lonelycode commented on #1034
This is not a bug, tyk community edition is configured with files and does not use the dashboard at all. There is no link between the files in the gateway and the dashboard.

[2017-08-25 06:27] #1034 closed

[2017-08-25 06:54] buger opened #1035 "Can't deactivate API if it is the only one"
**Do you want to request a *feature* or report a *bug*?**
bug
**What is the current behavior?**
If there is only 1 active API, and the user tries to deactivate it, the gateway does not apply this changes, and not disable the API. Here are the logs:

[code]
**What is the expected behavior?**
It should disable API even if it the only one

**If the current behavior is a bug, please provide the steps

[2017-08-25 06:56] hustshawn commented on #1034
Do you mean if I use the dashboard, the file configured policy would not work?

[2017-08-25 07:06] lonelycode commented on #1034
What I mean is that's you need to use a file based configuration and not use the dashboard, or use a dashboard based configuration and no files - the two are mutually exclusive. Trying to use them together causes weird behaviour.

Basically, if you are using dashboard, you are using Tyk Pro, and should use tutorials and guides that are focussed on the dashboard.

If you are using just the gateway,

[2017-08-25 07:33] mvdan commented on #649
@penhauer-xiao have you tried the latest gateway release, 2.3.8?

[2017-08-25 09:18] penhauer-xiao commented on #649
@mvdan  No, I still use the old release version.

[2017-08-25 09:18] #649 closed

[2017-08-25 10:11] nickReyn opened #1036 "Ability to update documentation on dashboard without deleting first"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
Cannot update API documentation in Catalogue in Dashboard, without deleting it first.

**What is the expected behavior?**
I should be able to edit/update the docs without having to delete it first

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal d

[2017-08-25 10:11] nickReyn commented on #1036
![](https://github.trello.services/images/mini-trello-icon.png) [Ability to update swagger documentation on dashboard without deleting first](https://trello.com/c/AzWXS3tM/480-ability-to-update-swagger-documentation-on-dashboard-without-deleting-first)

[2017-08-25 10:26] nickReyn opened #1037 "Dashboard: Allow portal developers to register multiple times with a single catalogue"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
A developer account on the portal can currently only subscribe once to a single catalogue.

**What is the expected behavior?**
Allow the developer to obtain multiple keys for a catalogue.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of th

[2017-08-25 10:26] nickReyn commented on #1037
![](https://github.trello.services/images/mini-trello-icon.png) [Dashboard: Allow portal developers to register multiple times with a single catalogue.](https://trello.com/c/Crab3Dz8/472-dashboard-allow-portal-developers-to-register-multiple-times-with-a-single-catalogue)

[2017-08-25 10:48] nickReyn opened #1038 "Documentation: Guides on hardware requirements for running MongoDB"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
No advice around hardware requirements for MongoDB

**What is the expected behavior?**
Would be nice to have recommended advice on this for clients/users.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem**

**Which versions of

[2017-08-25 10:50] nickReyn opened #1039 "Documentation: Recommended On-premise server configs"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
No server configs advice. Would be good to have

**What is the expected behavior?**
On-premise server configs advice

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem**

**Which versions of Tyk affected by this issue? Did this w

[2017-08-25 10:50] nickReyn commented on #1039
![](https://github.trello.services/images/mini-trello-icon.png) [Documentation: Recommended On-premise server configs](https://trello.com/c/5mqohrcN/482-documentation-recommended-on-premise-server-configs)

[2017-08-25 10:50] nickReyn commented on #1038
![](https://github.trello.services/images/mini-trello-icon.png) [Documentation: Guides on hardware requirements for running MongoDB](https://trello.com/c/vYlmXlEe/481-documentation-guides-on-hardware-requirements-for-running-mongodb)

[2017-08-25 21:08] mvdan commented on #1035
This is a dumb question, but I assume this doesn't happen if you have 2 but deactivate 1? What if you have 2 and deactivate both?

[2017-08-25 21:16] lonelycode commented on #1035
If the list from the dashboard returns 0 (it is filtered on the activation flag) then Tyk takes it as a failed get and doesn't unload. So you need to deactivate one at a time.

[2017-08-25 22:51] lonelycode opened #1040 "Add support for a canonical path instead of the request's one"
**Do you want to request a *feature* or report a *bug*?**
Feature/bug

**What is the current behavior?**
Tyk bases its decisions on the URL.Path as it passes through the MW, if it changes the path in some way, other MW needs to work on the transformed path. This is undesirable.

**What is the expected behavior?**
I should be able to base all tracking and MW matches on the canonical inbound path th

[2017-08-25 22:53] lonelycode commented on #1040
Edit: This should apply before stripping the listen path.

[2017-08-28 13:11] ilijabojanovic commented on #642
Fixed on 1.4 release

[2017-08-28 13:11] #642 closed

[2017-08-28 18:48] steve-jansen commented on #357
@buger Do you envision Tyk verifying the the client cert against any Certificate Revocation List (CRL) or Online Certificate Status Protocol (OCSP) listed in the cert?

Here's an example from the google.com server cert:

![Example of OCSP and CRL attributes in the google.com x509 cert](https://user-images.githubusercontent.com/3165077/29788191-b8fbd3bc-8bff-11e7-9611-a3dfd273c899.png)

Think of re

[2017-08-28 23:06] bitsofinfo commented on #639
We have the need in URL rewrites to simply match on anything in the full URI + query params.

[2017-08-29 04:17] lonelycode opened #1041 "Activating a response middleware causes a panic"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
When I use response middleware (e.g. body transform), the gateway panics

**What is the expected behavior?**
It should not panic

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem**

1. Create an API
2. Add a response transform to a

[2017-08-29 04:50] lonelycode opened #1043 "As a user I should be able to override the full response from JSVM middleware"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
I can't modify responses from middleware, only errors

**What is the expected behavior?**
I should be able to use `ReturnOverrides` to modify a response.

**Which versions of Tyk affected by this issue? Did this work in previous versions of Tyk?**
All

[2017-08-29 05:11] buger commented on #1043
I assume this it 2.4 ?

[2017-08-29 05:11] buger commented on #1043
Coprocess part was implemented in terms of https://github.com/TykTechnologies/tyk/pull/763

[2017-08-29 05:24] lonelycode commented on #1043
If it fits and can be tested, would be good to put it into 2.4, but since it's not in the project plan it won't be the end of the world if it makes it into 2.4.1

[2017-08-29 08:33] hustshawn opened #1045 "Tyk gateway runtime error"
**Do you want to request a *feature* or report a *bug*?**
bug?
**What is the current behavior?**
Tyk gateway service unable to bring up. Errors as below
[code]
Such error just come hours ago, and it was normal before that.
**What is the expected behavior?**
gateway running without such error.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo

[2017-08-29 08:35] mvdan commented on #1045
As explained in the forums, this is a dup of #938 and the bug was fixed in 2.3.8. Please update to the latest version.

[2017-08-29 08:35] #1045 closed

[2017-08-29 14:19] #351 closed

[2017-08-29 14:31] kcq commented on #624
Whitelisting allowed proxies could be a bit brittle (because it relies on hard coded IP addresses, which might be hard to control in dynamic cloud environments), but it's a nice advanced feature. The standard way should be based on the number of proxies you trust. TrustProxy = 0 would mean that you don't trust any XFF data. TrustProxy = 1 would mean you trust the last proxy in the chain, etc.

[2017-08-29 15:19] mvdan commented on #835
This is getting worse - it's bit me three times in the past week on Travis.

[2017-08-29 16:06] bitsofinfo opened #1049 "TykJsResponse: not available in JSVM middleware but only Virtual Path functions"
**Do you want to request a *feature* or report a *bug*?**

Feature

**What is the current behavior?**

The `TykJsResponse` gives complete control over what tyk returns to the caller based on code you define in a function, but it is only available when using Virtual Path functionality. It is not available in JSVM middleware which only presents the extremely limited "ReturnOverrides" functionality w

[2017-08-29 19:31] lonelycode commented on #1049
this is already possible with non-JS middleware using the ReturnOverrides object, and a patch for JS has been put in place for a future version.

If you want to get this to work, use a rich plugin and not the JSVM.

[2017-08-29 19:35] lonelycode commented on #1049
Relevant PR:
https://github.com/TykTechnologies/tyk/pull/1042

[2017-08-30 07:49] lghiur opened #1050 "Updating key, errors on master branch"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
When trying to update a key from Dashboard, I get the following error:

Gateway:
[code]

Analytics:
[code]

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem**

1. Go to the Dashboard and create a new key;
2. Try to update the key yo

[2017-08-30 07:52] mvdan commented on #1050
(this works fine on stable)

[2017-08-30 15:17] matiasinsaurralde opened #1051 "Expose request headers to $tyk_context"
**Do you want to request a *feature* or report a *bug*?**
Feature/enhancement

**What is the current behavior?**
Initially, the issue was raised because there is no way to "rename" request header without middleware. If we will have headers in $tyk_context, the process of renaming header will be, deleting old header, and adding new with the original value.

**Which versions of Tyk affected by this

[2017-08-31 09:56] lonelycode commented on #1051
So, headers are already exposed to context, you can access any header from context by using:

    $tyk_context.headers_HEADERNAME

Or (for body transforms):

    {{._tyk_context.headers_HEADERNAME}}

Relevant code has been [there for a while](https://github.com/TykTechnologies/tyk/blob/master/mw_context_vars.go#L39) It was just never documented.

[2017-08-31 10:53] nickReyn opened #1052 "As a user I should be able to set auto/manual key approval per catalogue"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
A dashboard user can only set key approval on/off for a whole portal, not per API in the catalogue

**What is the expected behavior?**
I should be able to set the key approval on/off per catalogue API, rather than entire portal

**If the current behavior is a bug, please provide the steps to reprod

[2017-08-31 11:15] #1051 closed

[2017-08-31 12:00] mvdan commented on #1051
If I remember correctly, @matiasinsaurralde raised this following a user's request. Matias, you should describe this feature to the user, at least until we have proper documentation for it in place.

(do we have documentation for it now? should we ticket that up?)

[2017-08-31 12:07] buger commented on #1051
See #documentaton slack room. Documentation in process, and once done, matias will send a link

[2017-08-31 13:36] nickReyn commented on #1052
![](https://github.trello.services/images/mini-trello-icon.png) [Allow auto/manual key approval to be defined per catalogue, rather than per portal.](https://trello.com/c/Z9vRQN1T/454-allow-auto-manual-key-approval-to-be-defined-per-catalogue-rather-than-per-portal)

[2017-08-31 13:55] nickReyn commented on #955
![](https://github.trello.services/images/mini-trello-icon.png) [Add a way to define a default API version for when none is requested](https://trello.com/c/z8GtNmIY/484-add-a-way-to-define-a-default-api-version-for-when-none-is-requested)

[2017-08-31 14:16] mvdan commented on #1050
This is indeed a gateway regression of some sort. The underlying issue was that on stable, if we failed to update a key, we silently returned 200, while on master, we return a 500.

stable:

[code]

(note how `code` isn't set, so it remains at the default `200`; `success = false` doesn't set the code either)

master:

[code]

To make this more obvious, the actual cause of the error is seen on both

[2017-08-31 14:40] #836 closed

[2017-08-31 19:21] lonelycode opened #1055 "Add support for HEAD methods in the Dashboard API Designer"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
I cannot set HEAD request matches in the API Designer though it should be supported by the gateway

**What is the expected behavior?**
That I can set HEAD matches

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem**
Go to the API Des

[2017-08-31 19:30] lonelycode commented on #1050
So the dashboard does store API Definitions, but it is not guaranteed that the API Definition is on the gateway (for example if it is a "sharded" gateway that uses tags), OR if a gateway ignored an API Definition because of a dupe (used to happen) then this shyould happen.,

Basically, the gateway refuses to put API Definitions into the store unless it can find all the API IDs in the ACL in it's o

[2017-09-01 03:18] willks commented on #994
We require this as well. We have a use-case for doing some auth logic based on GET/POST/PUT requests. I realise it's silly to have this in middleware, but unfortunately we are accessing legacy systems that are no longer being actively developed.

As a workaround, I tried manipulating headers and injecting a new header "X-TYK-METHOD" using endpoint designer, but the injected values aren't reflected

[2017-09-01 05:16] lghiur commented on #1050
@lonelycode I would like to add that this bug is reproducible on master branch of tyk-analytics-ui (current version of the code on stable too). Here is the object that is being sent on PUT request:

`{
	"last_check": 0,
	"allowance": 1000,
	"rate": 1000,
	"per": 60,
	"expires": 1504246367,
	"quota_max": -1,
	"quota_renews": 1506834795,
	"quota_remaining": -1,
	"quota_renewal_rate": 2592000,
	"acce

[2017-09-01 09:36] nickReyn opened #1057 "As a dashboard admin I want to be able to create and assign access-control groups to other dashboard users"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
Currently there is only one level of access for dashboard users, everyone is an admin. Or permissions can be manually self-assigned on each account.

**What is the expected behavior?**
An admin should be able to create and manage access-control groups that can be assigned to dashboard users. These

[2017-09-01 10:00] nickReyn opened #1058 "As a Tyk user I want the access-level groups in the Dashboard to map to the access-level groups in my organisation"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
Currently, the Tyk Identity broker (TIB) can't assign dashboard access permissions based on the existing groups the organisation has. Every user is assigned as an admin.

**What is the expected behavior?**
Access-level groups the organisation has, should be mirrored in the dashboard.

**If the curr

[2017-09-01 10:03] nickReyn commented on #1057
![](https://github.trello.services/images/mini-trello-icon.png) [Access-level groups for dashboard users 🔑](https://trello.com/c/TJZtj407/485-access-level-groups-for-dashboard-users-%F0%9F%94%91)

[2017-09-01 10:07] nickReyn commented on #1058
![](https://github.trello.services/images/mini-trello-icon.png) [Mapping my organisation's access-level groups to Dashboard access-level groups](https://trello.com/c/mn7yzIFg/486-mapping-my-organisations-access-level-groups-to-dashboard-access-level-groups)

[2017-09-01 16:53] mvdan commented on #835
Well, it just happened on 1.8.3 again now, thanks to our new panic:

[code]

[2017-09-02 02:58] #835 closed

[2017-09-03 05:50] buger commented on #971
This project should be a nice base https://github.com/grpc-ecosystem/grpc-gateway

Also Google Cloud docs for their own feature https://cloud.google.com/endpoints/docs/grpc/transcoding

[2017-09-04 09:42] ilijabojanovic commented on #1050
@mvdan I have similar or maybe related issue with this task.
Issue is visible only over dashboard api not visible on UI.

Gateway branch: Master
Dashboard branch: Refactoring
Version: On-prem

Reproduction steps:
1. Create token protected api over dashboard api
2. Create key request for that api over api and trigger request

Actual:
Dashboard api returns this response:
[code]
In gateway console we

[2017-09-04 09:44] mvdan commented on #1050
This is a separate issue - please file a new issue in this repo.

[2017-09-04 10:03] ilijabojanovic opened #1063 "Key generation session issue"
Gateway branch: Master
Dashboard branch: Refactoring
Version: On-prem

Reproduction steps:

1. Create token protected api over dashboard api
2. Create key request for that api over api and trigger request

Actual:
Dashboard api returns this response:
[code]
In gateway console we have this:
[code]

[2017-09-04 10:04] ilijabojanovic commented on #1050
@mvdan Done
https://github.com/TykTechnologies/tyk/issues/1063

[2017-09-04 10:07] Pinpin31 opened #1064 "Add PORT parameter for bootstrap script to add initial user and organisation"
**Do you want to request a *feature* or report a *bug*?**
feature

**What is the current behavior?**
If we change listen_port in configuration file of the dashboard, the bootstrap script no longer run.

**What is the expected behavior?**
Add a second parameter in script for port or change LOCALIP parameter to include port number

**If the current behavior is a bug, please provide the steps to repr

[2017-09-04 11:28] mvdan commented on #1064
It's a bit silly that the script takes a host and not an address. We could make it accept both `localhost` and `localhost:3000`, so that you may optionally give the port too.

[2017-09-04 12:10] mvdan commented on #1063
@ilijabojanovic does this happen after you trigger a reload? do you have any api definitions loaded in the gateway?

[2017-09-04 12:39] ilijabojanovic commented on #1063
@mvdan Yes i have only one api def loaded on gateway and this happening only first key generation request.  If i trigger same call again gateway will generate and return key in response.

[2017-09-04 12:40] mvdan commented on #1063
See above - have you tried doing a reload before the first key generation request?

What about waiting for one minute before doing the first call, in case the issue is that we're not waiting for Redis to be ready?

[2017-09-04 12:45] ChristianCiach opened #1066 "Tyk always logs error on startup: "Instrumentation is enabled, but no connectionstring set for statsd""
The error mentioned inside the title is always logged and cannot be disabled. "main.go" always calls `SetupInstrumentation(true)` (with the hardcoded `true`), regardless of any settings.

Seen with tyk-gateway 2.3.8.

[2017-09-04 12:48] ilijabojanovic commented on #1063
@mvdan yes, since reload is triggered after we add api def. I will try to reload twice before i submit request for key

[2017-09-04 13:47] raoulbillard opened #1067 "Directory bundles cannot be created"
When you add bundles in your tyk the directory "bundles" has to be created in /midleware and when tyk try to do so it failled. tyk version 1.3.9

[2017-09-04 13:53] matiasinsaurralde commented on #992
Hi, do you already have a `middleware/bundles` directory?

[2017-09-04 14:05] matiasinsaurralde commented on #1067
Hi, are you using the packaged version of Tyk?
If that's the case run:
[code]

[2017-09-04 14:07] matiasinsaurralde opened #1068 "Provide a bundle directory by default"
**Do you want to request a *feature* or report a *bug*?**
Enhancement

**What is the current behavior?**
The user has to manually create the `middleware/bundles` directory when using plugin bundles.
The Hybrid image contains an empty "bundles" directory. The packaged versions don't.

**What is the expected behavior?**
Tyk could create it automatically or provide an empty directory.

**If the curre

[2017-09-04 14:30] raoulbillard commented on #1067
I runned that and it work well, but in the future i hope that's may be fix.

[2017-09-04 14:31] matiasinsaurralde commented on #1067
Thanks, we've created an issue here #1068.

[2017-09-04 14:31] #1067 closed

[2017-09-04 14:31] mvdan commented on #1068
Sounds like the right fix is to have the gateway create the dir if it doesn't exist - then we don't need to worry about shipping empty directories.

[2017-09-04 15:44] ChristianCiach commented on #1066
Sorry, wrong project.

[2017-09-04 15:45] buger commented on #1066
Treat this message like a notification. But yeah, we should improve it.

[2017-09-04 15:47] mvdan commented on #1066
It's true that the flag is ignored since last december, and it's not clear why. I'll send a patch.

[2017-09-04 15:50] mvdan opened #1069 "TestGetAPISpecsRPCSuccess data race flake"
[code]

[2017-09-04 16:04] mvdan commented on #1069
Silly me, this is a dup of #987 because the branch was too old.

[2017-09-04 16:04] #1069 closed

[2017-09-04 19:20] lonelycode commented on #1068
THRis has been done in the gRPC-proxy branch

[2017-09-05 10:57] mvdan opened #1076 "jsvm: always infer the object name from the path filename"
When loading a JS middleware, you can either use JSON (CE):

[code]

Or a filesystem (Pro/Cloud):

[code]

This is inconsistent and confusing. We should make it so that the name is *always* inferred from the path, and remove the `name` attribute in the CE way of loading them.

Or is there a use to decoupling names and paths that I don't see? For example, using one js file for multiple middlewares

[2017-09-05 13:04] #784 closed

[2017-09-05 13:06] #959 closed

[2017-09-06 12:44] #1017 closed

[2017-09-06 14:36] mvdan commented on #1050
This was a configuration issue; master isn't broken.

[2017-09-06 14:36] #1050 closed

[2017-09-06 15:26] mvdan commented on #821
@ilijabojanovic please test my PR above - I believe it was simply a config issue, i.e. your template couldn't be loaded.

But Tyk at master doesn't error properly, so the template is let through even if it hasn't been loaded. That can cause a panic on a request later on.

With the PR, the gateway should give you a useful error. Note that even if the `template_path` doesn't exist or fails to load,

[2017-09-07 07:24] ELE3E opened #1082 "As a user I should be able to version API catalogue entries"
**Do you want to request a *feature* or report a *bug*?**
Feature
**What is the current behavior?**
You can add a Swagger definition as documentation. When you make an update to the API by adding a new version for example, you're not able to show the changes made to the API in terms of definition, analogue to the API setup itself.
**What is the expected behavior?**
Updateable Swagger definition pe

[2017-09-07 07:38] ELE3E opened #1083 "Add version and authentication imposed by API configuration in API Catalogue"
**Do you want to request a *feature* or report a *bug*?**
feature
**What is the current behavior?**
You can add your swagger documentation to an API catalogue item, similarly as you've used that same documentation to create your API configuration. However, in the API configuration, you can add authentication on top and version it. This obviously requires the user to add version and authentication

[2017-09-07 08:19] buger commented on #1083
@lghiur needs your input here

[2017-09-07 08:21] buger commented on #1082
Thank you!

How do you think it should work/look instead?

[2017-09-07 08:33] ELE3E commented on #1082
To me it would seem logical to link api catalogues to existing API definitions, so that the catalogue is aware of all of the setttings you've entered there, like versions, slug definition, etc.
In fact, in my API setup required me to add a swagger definition with (in my case) an endpoint only at the root and put a slug in that is stripped upstream.
In the API Catalogue i had to add my slug to the

[2017-09-07 08:51] #1066 closed

[2017-09-07 08:58] lonelycode commented on #1082
Worth noting that the catalogue entries are linked to policies and can potentially grant access to multiple services as part of an aPI product, instead of just 1-to-1.

So linking them up could be problematic in cases where the policy grants access to many apis. Which in micro service environments is very likely.

[2017-09-07 10:11] davegarvey opened #1084 "Support for OpenAPI v3"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
OpenAPI v3 is not supported.

**What is the expected behavior?**
As a user I can import API definitions using OpenAPI v3 format, and I can also import definitions for use with portal documentation.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal

[2017-09-07 10:45] mvdan commented on #1063
This is working as intended, sort of. The thing is that this was an automated test, trying to generate a key and using it immediately after the API had been created. A reload had been triggered, but not a blocking one.

Hence, the reload may not be done when the request comes in - which is the case here - and the request fails in a funny way.

The fix is to use a blocking reload as introduced in m

[2017-09-07 10:45] #1063 closed

[2017-09-07 15:36] nickReyn commented on #1084
![](https://github.trello.services/images/mini-trello-icon.png) [Support for OpenAPI v3](https://trello.com/c/sVJkI76u/488-support-for-openapi-v3)

[2017-09-08 13:44] #821 closed

[2017-09-08 16:31] paltryeffort commented on #1006
Doing a curl in the container without certificate I get:
curl: (60) SSL certificate problem: self signed certificate

After adding the certificate to the container I get:
curl: (51) SSL: certificate subject name 'something' does not match target host name 'myserver'

TykMakeHttpRequest doesn't seem to work with that. Is there any workaround for that?

[2017-09-08 16:41] buger commented on #1006
We already have `ProxySSLInsecureSkipVerify` flag in configuration, and probably it makes sense `TykMakeHttpRequest` to respect it.

[2017-09-08 17:57] bitsofinfo commented on #1006
Yes, however in the meantime, is there any other workaround to make this work?

[2017-09-08 21:02] matiasinsaurralde opened #1093 "Skip URL cleaning isn't working"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
When the custom HTTP server options are used and the "skip_url_cleaning" flag is enabled, the URL cleaning is still triggered.

**What is the expected behavior?**
The URL cleaning process should not occur. Seems like a regression of #377.

**If the current behavior is a bug, please provide the steps to

[2017-09-08 22:23] lonelycode commented on #1093
@mvdan can you review that this doesn't undo some of the work you did on the reloads?

[2017-09-09 03:51] buger commented on #1006
Make local /etc/hosts record with valid domain name specified in the certificate?

[2017-09-11 13:35] mvdan commented on #963
Hi @othane!

This patch missed 2.3.8 just by a couple of weeks. However, a couple of important issues have come up and we're going to do 2.3.9 soon. Since this is a small patch and an easy win, we've included it in the release.

I can't give an ETA, but for sure it will be shipped much before 2.4.

[2017-09-11 18:37] othane commented on #963
Awsome ... Thanks for the update 😀

[2017-09-12 10:20] #647 closed

[2017-09-12 10:52] mvdan commented on #1041
Found the fix to this by chance, so assigning to self.

[2017-09-12 10:55] mvdan commented on #1041
Also, this regression was introduced by me in this refactor: d5401d913c4c45e90d362be05cbcba2f7e433138

The func used to receive the object and return it too, and I removed the return. But this one slipped past me (and we had no tests).

[2017-09-12 14:48] nickReyn opened #1107 "As a user I want to enable a global rate limit on an API"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
Rate limiting is set using policies and keys only

**What is the expected behavior?**
A global rate limiter, set up per API. It would not differentiate between users, it would just limit access to the service no matter who was accessing it.

**If the current behavior is a bug, please provide the st

[2017-09-12 14:55] nickReyn opened #1108 "As a user I want to set up a rate limit per method / path"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
N/A
**What is the expected behavior?**
Create rate limits based on what method and path pattern the user is accessing. This would be for all users

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem**

**Which versions of Tyk affe

[2017-09-12 15:00] nickReyn opened #1109 "As a user I want to set up a rate limit per IP address"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
Cannot currently rate limit based on user/IP address

**What is the expected behavior?**
Functionality to be able to set up a rate limiter per unique IP, dynamically based off the global rate limit setting in the API.
This should also be able to target per IP CIDR block.

**If the current behavior

[2017-09-12 15:01] nickReyn commented on #1107
![](https://github.trello.services/images/mini-trello-icon.png) [Setup a global rate limit on an API](https://trello.com/c/pQgSZ13A/490-setup-a-global-rate-limit-on-an-api)

[2017-09-12 15:02] nickReyn commented on #1108
![](https://github.trello.services/images/mini-trello-icon.png) [Setup a rate limit per method/path](https://trello.com/c/bpSr1P5w/491-setup-a-rate-limit-per-method-path)

[2017-09-12 15:03] nickReyn commented on #1109
![](https://github.trello.services/images/mini-trello-icon.png) [Setup a rate limit per client (IP address)](https://trello.com/c/wP2kN2Ey/492-setup-a-rate-limit-per-client-ip-address)

[2017-09-12 15:03] bitsofinfo commented on #1006
this isn't going to work, the backends are more containers behind a LB, and the names of things are dynamic. When can this support for `TykMakeHttpRequest ` to obey this be released in a patch?

[2017-09-12 15:43] mvdan commented on #1006
@bitsofinfo given that this is an enhancement, it doesn't automatically qualify for a bugfix (patch) release. We will try to include this with 2.4, which is the upcoming major release.

Of course, if that can't wait, you're free to work on a fix and try it out by building from source - it shouldn't be too complicated. And you could also open a pull request to upstream the fix back to this repo.

H

[2017-09-13 09:38] #1093 closed

[2017-09-13 11:09] #915 closed

[2017-09-13 11:59] mvdan commented on #617
Doesn't look good - another half year and the library is still dead, including that bug. We should definitely switch to another for 2.5.

[2017-09-13 13:09] #1107 closed

[2017-09-13 13:09] nickReyn commented on #1107
Solved by #356

[2017-09-13 16:26] #1019 closed

[2017-09-14 15:02] ilijabojanovic commented on #1041
Branch: Master
rev:  d83299a758a5f28f789111b676ff4248f23dd60a

I can still reproduce this issue.

Here is testing api definition:
[code]
Trigger GET call to /ip endpoint

Gateway will crash without panic. In log i just have this:

[code]

[2017-09-14 15:04] mvdan commented on #1041
Thanks, will have another look.

[2017-09-14 15:14] mvdan commented on #1041
Huh, I just hit an out-of-memory crash. At least the original issue is fixed.

[2017-09-14 15:19] mvdan commented on #1041
@ilijabojanovic you have an issue in your config - you want `"transform_response": [`, as `"transform"` is a path transform, not a response one. With that fix, it works fine here.

Nevertheless, the setup you had made Tyk crash in a bad way. Please open a separate issue about it.

[2017-09-14 15:22] mvdan commented on #1041
(also, yes the names are quite confusing - it's probably an artifact of the order in which these features were introduced)

[2017-09-15 08:16] ilijabojanovic commented on #1041
@mvdan @lonelycode Response transform working fine after this fix. I will open separate task for Request transform

[2017-09-15 08:16] #1041 closed

[2017-09-15 08:21] ilijabojanovic opened #1122 "Request transform causes an out-of-memory panic"
Branch: Master
rev:  d83299a758a5f28f789111b676ff4248f23dd60a

Reproduction steps:

1. Add api definition
2. Enable request transform on endpoint
3. Trigger get call to endpoint with request transform

Here is testing api definition:
[code]
Trigger GET call to /ip endpoint

Gateway will crash without panic. In log i just have this:

[code]

[2017-09-15 08:25] mvdan commented on #1122
I wouldn't call this a leak. A leak is something that slowly fills up memory and never frees it. This crashes the gateway in mere seconds (at least on my laptop), as memory fills up incredibly fast.

@ilijabojanovic have you tried stable? what happens there?

[2017-09-15 08:39] ilijabojanovic commented on #1122
@mvdan issue is not visible on current stable. When i trigger call to transformed endpoint, gateway starts to eat memory and crash when consumes all memory.

[2017-09-15 08:39] mvdan commented on #1122
cool, thanks

[2017-09-15 15:42] Romain1204 commented on #29
Hello,
I started redis/mongo/gateway/dashboard on my server. I don't have any error in my log files. I configure one API using the dashboard and when I run curl commands on my gateway, the target url responds OK. But on my dashboard, I can't see any data (graph is replaced by a "No data to display" message).

My mongo config is the following one:
`
"analytics_config": {
    "type": "mongo",
    "p

[2017-09-15 15:46] ConsM commented on #29
Hi @Romain1204 , is your Pump running ? If you need any further assistance please open a new topic on https://community.tyk.io/ and include your `tyk.conf`, `analytics.conf` and `pump.conf`

[2017-09-15 16:03] Romain1204 commented on #29
hmmm. No. I don't install the pump component. I try to run the following tutorial : https://tyk.io/docs/get-started/with-tyk-on-premise/installation/docker/docker-quickstart/
And as I understand, this page does not deal with the pump. But OK, I will install it. Thanks for this quick reply.

[2017-09-15 16:16] buger commented on #29
If you are using https://github.com/TykTechnologies/tyk_quickstart and docker-compose, it should use and start pump for you, when you run `docker-compose up`

[2017-09-15 16:39] Romain1204 commented on #29
OK. It's better. I launch a tyk-pump container. Now in my mongo db, I have a tyk_analytics collection. And when I run queries to my gateway, lines are added in the tyk_analytics collection. But I still not have result in dashboard.

[2017-09-18 14:53] mNantern opened #1130 "How to use with Dynomite ?"
I'm testing a multi-Datacenter Tyk deployment and I was trying it with [Dynomite](https://github.com/Netflix/dynomite) (it looks more lightweight than MDCB) but I have some issues right now:

1. Tyk is issuing some strange request like `CLUSTER INFO` which does not exist in redis 2.8.19 (my current version). I have `"enable_cluster": false` in my storage config.
2. `SUBSCRIBE tyk.cluster.notificat

[2017-09-18 14:55] mNantern commented on #1130
You can find here the list of supported command by Dynomite:  https://github.com/Netflix/dynomite/blob/3ad2d235428175b10e6568e566f7ef76d11dc413/notes/redis.md

[2017-09-18 15:17] buger commented on #1130
Well, first of all, it is not right to compare MDCB with this project. Note that MDCB is not a k/v database, and also it does not allow you to have the multi-master configuration. The goal of MDCB is to control multiple data centers with a single dashboard, and in addition, in case of failover, seamlessly switch from one DC to another. Usually, when you want to have multi-master, the main issue be

[2017-09-18 23:00] manuelbcd opened #1134 "tyk_quickstart docker-compose windows"
I cannot run tyk quickstart on Windows7

 docker-compose up -d

Output:
(windows: ERROR: for tyk_gateway  Cannot create container for service tyk_gateway: invalid bind mount spec)

[2017-09-18 23:02] matiasinsaurralde commented on #1134
Hi, can you try using this flag?
[code]
Best.

[2017-09-19 07:56] mNantern commented on #1130
Thank you for your response !

Indeed MDCB has not the same goal as Dynomite. I was just looking for a way to deploy a multi DC Tyk Open-Source so I only need Redis replication.

I will try with Redis Cluster, thanks !

[2017-09-19 07:56] #1130 closed

[2017-09-19 08:30] ilijabojanovic commented on #355
@mvdan @lghiur

**Branches:**
Gateway: PR/1016
Dashboard API: PR/397
Dashboard UI: PR/138

Reproduction steps:
1. Create API definition
2. Create Policy
3. Attach policy on portal
4. Register new developer over portal and request key

Actual:
When developer got key that key doesn't have properties from policy enabled for portal. Rate and Quota are not enabled for that key

Policy:
[code]
Developer

[2017-09-19 09:34] manuelbcd commented on #1134
Hi @matiasinsaurralde thanks for your response.  Yes already tried in two different laptops with windows7

ERROR: for tyk_pump  Cannot start service tyk_pump: oci runtime error: container_linux.go:262: starting container process caused "process_linux.go:339: container
init caused \"rootfs_linux.go:57: mounting \\\"/c/docker/tyk_quickstart/pump.conf\\\" to rootfs \\\"/mnt/sda1/var/lib/docker/aufs/m

[2017-09-19 22:24] lonelycode commented on #790
Is there a back-end PR for this? This has a gateway dependency.

[2017-09-19 22:33] lonelycode commented on #871
This can be tricky, I may decommission this requirement because Access tokens deployed by OIDC IPDs can vary, so there's no guarantee that they will follow a specification in terms of JWT structure. Also, access token validation must be done by the [client according to the core spec here](http://openid.net/specs/openid-connect-core-1_0.html#ImplicitTokenValidation).

[2017-09-20 13:40] asoorm opened #1140 "Configurable handling of non-2xx responses from upstream endpoints"
Feature

**What is the current behavior?**
Gateway transparently proxies error responses from upstream endpoints.

**What is the expected behavior?**
Ability to configure how the gateway handles error codes. For example, if an upstream endpoint returns a non 2xx response code etc., option to temporarily disable the host (service discovery) for a period of time, allow passthrough (current functiona

[2017-09-20 15:59] #643 closed

[2017-09-20 16:00] mvdan commented on #643
@lonelycode I understand the dashboard also needs a fix for this - has a separate issue been open for it, or should we keep this one open?

[2017-09-20 19:49] mvdan commented on #1140
Note that what hosts are included in the load balancer is only determined by the host checker at the moment. Is that not enough? I worry that we would be overcomplicating something that's fairly simple at the moment. Unless this is a common user request?

Attempting a different upstream seems closer to the current behavior. How would we limit this? We don't want it to try all possible upstreams, a

[2017-09-21 02:16] buger commented on #1140
What you describe here is a bit vague. We do handle upstream errors using different mechanisms.
First of all, you can specify multiple upstream, and we do the health checks to them from time to time: if the host is down we exclude it from the list unless it healthy.
![image](https://user-images.githubusercontent.com/14009/30675834-4b4fc918-9e9c-11e7-96e6-16abdd8b5e65.png)

If we talking about serv

[2017-09-21 06:32] MangoMM commented on #1140
Possibility that I have mistranslated the customer problem. Customer is currently using cloud solution. And `uptime tests` not available for cloud.

If one of the LB upstream targets returns for example a 500 or 404 error, instead of returning the error back, customer was looking for the ability to loop over the other upstream endpoints and temporarily take the failing endpoints out of the LB (0%

[2017-09-21 06:39] buger commented on #1140
What you described here is exactly what we have for round-robin load balancing, which I mentioned as first thing in my comment. Are you sure this is not available for the cloud users?

Another option for this customer is to use external load balancer like AWS Elb or even nginx, to perform all this logic, and point Tyk to use LB endpoint.

[2017-09-21 06:45] lonelycode commented on #1140
Uptime tests are not available for cloud users due to data storage constraints.

[2017-09-21 09:45] MangoMM commented on #1140
There may be scenarios where adding LB outside of Tyk may not be feasible / possible. Further, using LB with health-checks say every 60s, means that there could be a potential 60s period where the service is down, and the LB doesn't yet know about it.

Having option for Tyk to retry another upstream target in the hope of a +ve response 2nd time round could be a nice value-add. Obviously constraint

[2017-09-21 09:52] mvdan commented on #1140
I think there are two different proposals here - one is trying different upstreams if the selected one is perceived as down, and another is making the load balancer aware of down upstreams by using them instead of (or as well as) using the periodic host checker.

They would both use similar information, but the features and outcomes are different.

I think the first is worth exploring, as it seems

[2017-09-21 10:00] nickReyn opened #1141 "Add a new middleware hook that supports trapping request and response"
**Do you want to request a *feature* or report a *bug*?**
Feature

Add a new middleware hook that occurs at the end of the proxy chain that can support trapping both request and response.

[2017-09-21 10:01] nickReyn commented on #1141
![](https://github.trello.services/images/mini-trello-icon.png) [Add a new middleware hook that supports trapping request and response](https://trello.com/c/MYBym5dM/493-add-a-new-middleware-hook-that-supports-trapping-request-and-response)

[2017-09-21 10:09] buger commented on #1140
So, we already have LB support with periodic checks.

I assume that @MangoMM means in case of issue retrying without any checks, with the different upstream target, which is next in the list. Right?

[2017-09-21 10:35] buger commented on #1140
Worth noticing that retrying request is a very tricky since a lot of requests are not safe to retry since they can modify application data, and error not always comes because the host is not available, same with timeouts (sometimes they are kind of ok, just require timeout tuning).

What can be done, in case of failure we may notify `GlobalHostChecker` about it, so upstream failure will be trigger

[2017-09-22 09:05] nickReyn opened #1144 "Provide HTTP Method (GET/POST/PUT,etc.) to tyk python middleware"
**Do you want to request a *feature* or report a *bug*?**
Feature

Tyk 2.3.5 does not appear to have a good way to implement this feature, IMO. I have not researched 2.3.9 yet.

What we want: We eventually want Tyk to serve Internet traffic directly. Right now we have have this workaround: Nginx is in front of Tyk and sends a special `X-METHOD` header, which provides the HTTP method used (GET/POST

[2017-09-22 09:06] nickReyn commented on #1144
![](https://github.trello.services/images/mini-trello-icon.png) [Provide HTTP Method (GET/POST/PUT,etc.) to tyk python middleware](https://trello.com/c/SYQafB5y/495-provide-http-method-get-post-putetc-to-tyk-python-middleware)

[2017-09-22 12:25] pastaman-lg opened #1145 "Response Transform middleware strips escaping characters"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Response transform middleware strips backslashes from JSON values

**What is the expected behavior?**
Resulting JSON object should have escaped characters preserved.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem**
Input:
`{ "myF

[2017-09-22 12:32] buger commented on #1145
Thank you for reporting!

[2017-09-22 12:43] mvdan commented on #1145
This is sort of expected, because we decode the JSON and then use the value directly in the template.

Do we always want to keep JSON input as JSON, and XML input as XML? If so, then the fix for this is simple.

[2017-09-22 14:52] bitsofinfo commented on #992
No, we have to manually create it in order for the downloading to work

[2017-09-23 00:48] csbogdan opened #1147 "Customize dashboard notifications starting port via config file"
**Do you want to request a *feature* or report a *bug*?**
Feature
**What is the current behavior?**
Port 5000 is hardcoded
**What is the expected behavior?**
Would like the ability to customize the starting port for dashboard notifications via dashboard config file
**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem**

**Which ver

[2017-09-25 12:36] buger opened #1149 "`global_headers_remove` do not remove `X-Forwarded-For`"
**Do you want to request a *feature* or report a *bug*?**
bug
**What is the current behavior?**
Tyk automatically adds `X-Forwarded-For` to all requests, even if `global_headers_remove` include it. The issue is that this header is forbidden for some services (for example AWS API Gateway), and there is no way to remove it.
**What is the expected behavior?**
`X-Forwarded-For` should respect `global_

[2017-09-26 06:19] #1149 closed

[2017-09-26 13:42] klyr opened #1151 "`active` configuration flag not honored in API definition"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

- Only using Tyk gateway (no dashboard)
- Using .json configuration files

Creating a API with the "active: false" does not disable the API. Endpoints are still server regardless of the `active` flag being set or not.

**What is the expected behavior?**

When not using the dashboard,
When using .json

[2017-09-27 08:37] nickReyn opened #1152 "As a dashboard user I want to be able to send encrypted keys to developers"
**Do you want to request a *feature* or report a *bug*?**
Feature

**Current behaviour**
Currently, if a developer requests a key using the portal, the key is sent to them via email, unencrypted. Some of our clients need a higher security layer than this.

**Requirements**
- I can turn on/off whether I want keys sent to developers via email, to be encrypted
- If turned on, all keys developers rece

[2017-09-27 08:55] buger commented on #1152
Not sure what you mean by encryption here. Instead of sending key, we can send link with a secret ID pointing to the portal, and key will be shown only 1 time, in portal UI.

[2017-09-27 09:19] nickReyn commented on #1152
That sounds good. I guess by encrypted I was referring to that if some intercepted/saw the email, they couldn't find out the key.
I will follow up and ask for clarification with the client this idea came from.

[2017-09-27 10:05] nickReyn opened #1154 "As a Dashboard user I want to be able to be able to see how much each of my developers has left of their rate limits, so I can act upon this information"
**Do you want to request a *feature* or report a *bug*?**
Feature

As a Dashboard user I want to be able to be able to see how much each of my developers has left of their rate limits, so I can warn them if they are running low.

The idea behind this is so that dashboard users can see how much of their rate limits each developer has used, so that they can act upon this information. e.g. developer

[2017-09-27 13:40] nickReyn commented on #1014
Internal comment: Linked to issue 207 in Analytics repo

[2017-09-27 15:13] bitsofinfo opened #1155 "Dashboard "Traffic Activity by Key" allow sorting"
**Do you want to request a *feature* or report a *bug*?**

feature

**What is the current behavior?**

"Traffic Activity by Key" columns cannot be sorted, I can't sort by "last access" for example

**What is the expected behavior?**

Should be able to sort on all columns

[2017-09-27 15:14] bitsofinfo opened #1156 "Dashboard "Traffic Activity by Key" allow searching by alias keywords"
**Do you want to request a *feature* or report a *bug*?**

feature

**What is the current behavior?**

Searching does not seem to work when searching for textual content within an session alias

**What is the expected behavior?**

Should be able to free text search against session alias text content

[2017-09-27 15:34] bitsofinfo opened #1157 "Dashboard "Traffic Activity per API" allow sorting"
**Do you want to request a *feature* or report a *bug*?**

feature

**What is the current behavior?**

Dashboard "Traffic Activity per API" cannot sort

**What is the expected behavior?**

Should be able to sort

[2017-09-27 15:35] bitsofinfo opened #1158 "Dashboard "Traffic Activity per API" allow searching"
**Do you want to request a *feature* or report a *bug*?**

feature

**What is the current behavior?**

Dashboard "Traffic Activity per API" cannot search on anything. (i.e. like search on the api name to filter things)

**What is the expected behavior?**

Should be able to search

[2017-09-27 20:34] csbogdan opened #1159 "Pipe logging to correct files per logging level"
**Do you want to request a *feature* or report a *bug*?**
Bug
**What is the current behavior?**
All logging happens only in stderr, no matter the logging level of the entry. stdout is not used.
**What is the expected behavior?**
INFO and regular application log entries should be piped to stdout, whistle warning, error, critical and debug should go to stderr.
**If the current behavior is a bug, ple

[2017-09-27 22:09] mvdan commented on #1159
I have never seen logging levels be put in stdout and stderr. And I'm fairly sure the general practice is to show logs in stderr, as they are messages and not actual program output.

Why would different output files be helpful? If you want to filter them, you can fairly easily do it with a program parsing line by line.

[2017-09-27 22:43] csbogdan commented on #1159
The only reason why splitting this makes sense for me is for centralized logging purposes, where we use different transformations and cleanup policies for different types of logs.

I'm not using tyk for long enough to know yet all types of log messages, so I can't argue on the  messages versus program output statement. However, looking at provided service file by tyk and how there's a clear intent

[2017-09-28 08:24] mvdan commented on #1159
Perhaps I'm missing something, but I still don't understand why you think stderr is just for errors. It has been used for all kinds of logging messages for a long time. Tyk needs to provide output in some modes, such as when importing APIs from swagger or when linting a configuration file (the last one is in the works), so we absolutely can't have the log messages be mixed with those.

Moreover, w

[2017-09-28 08:26] mvdan commented on #1159
Actually, I forgot to pipe the logs properly. If you do it with `|&`, you do get the easily-parseable output:

[code]

[2017-09-28 08:40] nickReyn commented on #1108
![](https://github.trello.services/images/mini-trello-icon.png) [Endpoint-level (global) rate limits](https://trello.com/c/4YKGedx5/419-endpoint-level-global-rate-limits)

[2017-09-28 08:48] mvdan commented on #509
![](https://github.trello.services/images/mini-trello-icon.png) [Make hash function configurable](https://trello.com/c/uLJRYY9c/302-make-hash-function-configurable)

[2017-09-28 08:53] mvdan commented on #1043
@buger we already merged the PR, so this should be closed I think (or at least kept in 2.4 so we add the docs for it)

[2017-09-28 08:55] mvdan commented on #1043
![](https://github.trello.services/images/mini-trello-icon.png) [JSVM middleware plugins that act on the response object](https://trello.com/c/tTUOP0KT/120-jsvm-middleware-plugins-that-act-on-the-response-object)

[2017-09-28 09:13] nickReyn commented on #356
![](https://github.trello.services/images/mini-trello-icon.png) [API-level (global) rate limits](https://trello.com/c/AUzjDGYX/418-api-level-global-rate-limits)

[2017-09-28 09:37] nickReyn opened #1160 "Add organisation details to dashboard header"
**Do you want to request a *feature* or report a *bug*?**
Feature

The Dashboard should display the name of the organisation at the top of the screen when an administrator logs in to ensure that administrators with access to multiple organisations have logged into the correct one.

[2017-09-28 09:38] nickReyn commented on #1160
![](https://github.trello.services/images/mini-trello-icon.png) [Add organisation details to dashboard header](https://trello.com/c/Hbkmu3he/408-add-organisation-details-to-dashboard-header)

[2017-09-28 10:19] ConsM commented on #605
![](https://github.trello.services/images/mini-trello-icon.png) [Implement token recycling functionality](https://trello.com/c/33thniYt/449-implement-token-recycling-functionality)

[2017-09-28 14:01] buger commented on #757
Tyk abandons requests before CORS middleware adds its headers. Probably just need move this middleware before Auth checker.

[2017-09-28 14:07] buger commented on #1058
Do not forget about https://github.com/TykTechnologies/tyk-identity-broker/issues/9

[2017-09-28 14:12] buger commented on #690
@excieve assign to you

[2017-09-28 14:13] buger commented on #691
@excieve ^

[2017-09-28 14:21] buger commented on #640
Part of this functionality added via this pull request https://github.com/TykTechnologies/tyk/pull/1044

[2017-09-28 14:41] mvdan commented on #477
I don't know if I'll be able to get to this for 2.4 - already have four unstarted 2.4 issues that need doing.

[2017-09-28 14:43] buger commented on #430
Closing in favor of https://github.com/TykTechnologies/tyk-analytics/issues/52

[2017-09-28 14:43] #430 closed

[2017-09-28 17:32] buger opened #1161 "Add support for JQ transformations"
**Do you want to request a *feature* or report a *bug*?**
feature
**What is the current behavior?**
Right now it is quite hard to apply advanced body and header transformations without middleware. It would be nice to have a more flexible way.
**What is the expected behavior?**
JQ is a very popular library for transforming JSON records. In fact, it is not just a library, it is a mini-language. It w

[2017-09-28 17:32] buger commented on #1161
Created for https://github.com/TykTechnologies/tyk/pull/1044

[2017-09-28 19:48] MangoMM commented on #1151
I think I have managed to recreate this issue:

Inactive API
[code]

Active API
[code]

After a hot reload:
[code]

And a curl to http://localhost:8080/inactive-api/ returns the httpbin page.

[2017-09-28 21:52] lonelycode commented on #356
I've moved this into 2.4 because it only requires a small UI change in the dashboard to make live.

[2017-09-28 21:52] lonelycode commented on #356
(cc @lghiur / @ConsM)

[2017-09-28 21:53] lonelycode commented on #356
Relevant PR because it didn't link properly: https://github.com/TykTechnologies/tyk/pull/1138

[2017-09-28 23:33] lonelycode opened #1163 "Add way to validate inbound JSON objects with JSON Schema"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
Currently inbound requests can;t be validated against a strict schema

**What is the expected behavior?**
I should be able to vlaidate inbound object into my API against a JSON Schema

[2017-09-29 10:52] mvdan commented on #1122
This seems to be a bug in the `mxj` package. `mxj.NewMapXmlReader` takes forever and crashes the runtime, while `mxj.NewMapXml` (i.e. reading the whole body into memory first ourselves) just errors instantly.

[2017-09-29 11:22] #1122 closed

[2017-09-29 12:25] nickReyn opened #1167 "JWT: Regenerate internal token if policy claim different"
**Do you want to request a *feature* or report a *bug*?**
Feature

[2017-09-29 12:25] nickReyn commented on #1167
![](https://github.trello.services/images/mini-trello-icon.png) [JWT: Regenerate internal token if policy claim different](https://trello.com/c/gW0FVsYY/426-jwt-regenerate-internal-token-if-policy-claim-different)

[2017-09-29 12:47] nickReyn opened #1168 "JWT: Set a default policy ID if policy claim not set"
**Do you want to request a *feature* or report a *bug*?**
Feature

From Trello roadmap - need more information

[2017-09-29 13:36] nickReyn commented on #1168
![](https://github.trello.services/images/mini-trello-icon.png) [JWT: Set a default policy ID if policy claim not set](https://trello.com/c/HQeuLS67/425-jwt-set-a-default-policy-id-if-policy-claim-not-set)

[2017-09-29 13:48] nickReyn opened #1169 "Custom token support in Dashboard"
**Do you want to request a *feature* or report a *bug*?**
Feature

From Trello roadmap - need more information

[2017-09-29 13:48] nickReyn commented on #1169
![](https://github.trello.services/images/mini-trello-icon.png) [Dashboard: Custom token support](https://trello.com/c/tcUQxSSV/430-dashboard-custom-token-support)

[2017-09-29 14:00] nickReyn opened #1170 "OAuth two-tier clientID lookup"
**Do you want to request a *feature* or report a *bug*?**
Feature

[2017-09-29 14:02] nickReyn commented on #1170
![](https://github.trello.services/images/mini-trello-icon.png) [OAuth two-tier clientID lookup](https://trello.com/c/h2MY9Sn1/423-oauth-two-tier-clientid-lookup)

[2017-09-29 14:13] nickReyn opened #1171 "Dashboard as ClientID secondary back end"
Do you want to request a feature or report a bug?
Feature

From Trello roadmap - need more information

[2017-09-29 14:13] nickReyn commented on #1171
![](https://github.trello.services/images/mini-trello-icon.png) [Dashboard as ClientID secondary back end](https://trello.com/c/RpVet5FG/424-dashboard-as-clientid-secondary-back-end)

[2017-09-29 14:14] nickReyn opened #1172 "Dashboard-backed OAuth Client storage"
Do you want to request a feature or report a bug?
Feature

From Trello roadmap - need more information

[2017-09-29 14:14] nickReyn opened #1173 "Dashboard as auth back-end"
Do you want to request a feature or report a bug?
Feature

From Trello roadmap - need more information

[2017-09-29 14:38] nickReyn commented on #1172
![](https://github.trello.services/images/mini-trello-icon.png) [Dashboard-backed OAuth Client storage](https://trello.com/c/zyzDcQFs/422-dashboard-backed-oauth-client-storage)

[2017-09-29 14:38] nickReyn commented on #1173
![](https://github.trello.services/images/mini-trello-icon.png) [Dashboard as auth back-end](https://trello.com/c/oVNC9CU6/421-dashboard-as-auth-back-end)

[2017-09-29 14:42] nickReyn opened #1174 "UI: Enable the addition of pre, auth, postauth and post-proc middleware script links"
Do you want to request a feature or report a bug?
Feature

From Trello roadmap - need more information

[2017-09-29 14:42] nickReyn commented on #1174
![](https://github.trello.services/images/mini-trello-icon.png) [UI: Enable the addition of pre, auth, postauth and post-proc middleware script links](https://trello.com/c/F6LmFNcz/377-ui-enable-the-addition-of-pre-auth-postauth-and-post-proc-middleware-script-links)

[2017-09-29 15:31] mvdan commented on #1145
@pastaman-lg please see the pull request above. In 2.4, you should use the following template:

    { "newField": {{.myField | jsonMarshal}} }

`jsonMarshal` will convert `foo"bar` into `"foo\"bar"`, so it will do what you're after.

[2017-09-29 16:03] nickReyn commented on #1152
HMAC secret would also need to be shown, not just the key

[2017-09-30 07:24] jacyo opened #1177 "NewMultiTargetProxy always returns nil on master"
NewMultiTargetProxy return nil

bug bug

[2017-09-30 07:38] buger commented on #1177
Can you pls clarify your issue?

[2017-09-30 07:41] jacyo commented on #1177
The NewMultiTargetProxy always return nil on master branch

[2017-09-30 09:23] mvdan commented on #1177
Well, that is true, but it's always been like that - including on 2.3. What were you trying to do?

[2017-09-30 09:25] mvdan commented on #1177
Oh, actually not. It used to be an initialising method, and now it's a constructor. Seems like a regression that we didn't catch because it has no tests.

[2017-09-30 13:01] MangoMM opened #1179 "Panic with policy request auth failure"
**Do you want to request a *feature* or report a *bug*?**
bug
**What is the current behavior?**
When calling hot reload via API

[code]

**What is the expected behavior?**
Should not panic

[2017-10-01 21:48] lonelycode commented on #1163
Relevant PR (because the link failed, again): https://github.com/TykTechnologies/tyk/pull/1180

[2017-10-02 09:14] buger commented on #1163
@lonelycode you need include task number to issue comment not header, to make links work

[2017-10-02 10:56] joshblakeley opened #1182 "Trigger debug mode from tyk.conf instead of the command line"
**Do you want to request a *feature* or report a *bug*?**

feature

**What is the current behaviour?**

The gateway can be started in debug mode using --debug or TYK_LOGLEVEL=debug command.
However a hybrid customer who can only affect their gateway instance through it's configuration file would like to be able to start debug mode with a config option.

**What is the expected behaviour?**

User se

[2017-10-02 12:30] mvdan commented on #1151
Commit reverted, as we need a better way to not break backwards compat.

[2017-10-02 12:31] mvdan commented on #1182
Let me suggest adding a `loglevel` or `log_level` one instead. That way, we cover the possibility of setting other log levels, not just `debug` and `info` (the latter being the default).

It would take the same values that `TYK_LOGLEVEL` can.

[2017-10-02 12:32] mvdan commented on #1179
@MangoMM as said, feel free to work on this issue and ping me if you need assistance.

[2017-10-02 12:36] joshblakeley commented on #1182
Good idea @mvdan

[2017-10-02 12:46] ilijabojanovic commented on #1055
Verified on Refactoring

[2017-10-02 12:46] #1055 closed

[2017-10-02 16:34] #1179 closed

[2017-10-02 17:06] pastaman-lg commented on #1145
@mvdan awesome, thanks for quick turnaround!

[2017-10-02 18:22] #1177 closed

[2017-10-02 23:14] ryanwalls commented on #782
@mvdan Any updates on this?  We are using some libraries that are verifying authentication (auth0) and it only works with 401s.

[2017-10-02 23:18] mvdan commented on #782
Well, it is not a priority until we encounter any that can be proven wrong. I opened this issue precisely because doing an exhaustive check would take some time, as there is quite a bit of code and a few libraries involved.

If you do find any status codes that are wrong, or would like to contribute in any way, please feel free to just say so. Otherwise, there isn't any update at the moment.

[2017-10-02 23:22] ryanwalls commented on #782
@mvdan Thanks.  Yeah, we'll just hack the client side to work with 403s.

[2017-10-03 09:13] mvdan commented on #782
If you do find any status codes that are wrong, and can describe the scenario here, we can fix them :)

[2017-10-03 10:06] nickReyn commented on #1037
Relates to 334 in analytics repo - https://github.com/TykTechnologies/tyk-analytics/issues/334

[2017-10-03 15:47] mvdan commented on #447
Enhancement with no assignee by the time of the feature freeze, so moving to 2.5 for now.

[2017-10-03 15:48] mvdan commented on #487
Enhancement with no assignee by the time of the feature freeze, so moving to 2.5 for now.

[2017-10-03 19:31] ryanwalls commented on #782
@mvdan The main one is that expired tokens should ideally return 401s instead of 403s.  Currently when I send an expired token it returns a 403 from Tyk.

[2017-10-03 22:18] nickReyn opened #1185 "As a user I would like to restrict/allow access to certain public APIs, to certain developers, on the Developer Portal"
As a user I would like to restrict/allow access to certain public APIs to certain developers on the Developer portal, so that I can control who see's what API/policy.

There is a dependency here on a developer user in the portal having an attribute associated with their account to enable a dashboard users to group/target them and set access rules.

Relates to a wider feature around SSO and integra

[2017-10-03 23:05] mvdan commented on #782
Well, if you mean the one coming from the line I gave above, it is already fixed in master (which is the upcoming 2.4). Otherwise, I'm not sure what expired token error you mean in particular.

[2017-10-04 08:44] mNantern opened #1186 "docs: clarify that expirations can only be positive numbers or -1"
**Do you want to request a *feature* or report a *bug*?**

*bug*

**What is the current behavior?**

I created a key with expire=0:

[code]

And that key seems to be valid:

[code]

The API declaration file:

[code]

And the key is in Redis without TTL

[code]

**What is the expected behavior?**

A key with expire=0 should expire immediately and not be usable to make a call.

**If the current beha

[2017-10-04 08:46] lonelycode commented on #1186
Why create a key with expire 0?

[2017-10-04 08:47] mvdan commented on #1186
Also, are you really using Tyk 2.2? The current version is 2.3.9.

[2017-10-04 08:49] mNantern commented on #1186
@lonelycode just a bug in our code. But the result seems odd
@mvdan yes we are using Tyk 2.2

[2017-10-04 08:53] mvdan commented on #1186
2.2 is no longer supported, so bug reports are only accepted on the current major release, 2.3.

In any case, it seems like Tyk uses any number that's 0 or negative as "no expiry". Usually this is only -1, but 0 will also work. Like @lonelycode, I don't see the point of supporting a key that expires immediately. Perhaps a clarification in the docs would be enough.

[2017-10-04 08:57] mNantern commented on #1186
Yep that should be sufficient from my point of view !

Thank you for your quick response (as always) 👍

[2017-10-04 09:17] mvdan commented on #1186
Good. Since I see that some parts of the code only treat -1 differently, let's keep it at that. It also makes little sense to also allow 0 and -2 to mean the same.

[2017-10-05 10:37] nickReyn opened #1189 "As a "super-admin" user I want to be able to manage organisations on a dashboard"
Nick to add more details next week

[2017-10-05 13:46] asoorm opened #1191 "Proper support for OPTIONS method for CORS pre-flight requests"
**Do you want to request a *feature* or report a *bug*?**
Feature/Bug

Could be that resolving this issue, would also fix #757

**Example API Config setup**
[code]

**What is the current/Expected behavior?**
Identifying Allowed Request Methods
[code]
Response should contain an `Allow` header with allowed methods. e.g.
[code]

### Preflighted requests
In CORS, a preflight request with the OPTIONS m

[2017-10-05 14:29] joshblakeley opened #1192 "Provide a way to override upstream target in middleware"
**Do you want to request a *feature* or report a *bug*?**
Feature
**What is the current behavior?**
Currently middleware cannot override upstream target.
**What is the expected behavior?**
Support is added for overriding upstream URL from middleware plugin e.g. with header or context variable
**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo o

[2017-10-05 19:30] ryanwalls commented on #782
@mvdan How do I know when 2.4 is released for Tyk Cloud customers?

[2017-10-05 19:39] ConsM commented on #782
@ryanwalls you can subscribe on the [Releases section](https://community.tyk.io/c/releases) and get notified for new posts.

[2017-10-05 20:34] lonelycode opened #1194 "Extend gateway upstream cache control to allow specifying response header"
As a service owner, I should be able to control the caching behaviour of Tyk based on headers that my service sends:

- I should be able to set custom header values instead of the existing built-in ones

Extend the existing `EnableUpstreamCacheControl` option to add a configuration object that lets the header to listen for the TTL value that is currently used. This defaults to our existing custom

[2017-10-05 20:42] lonelycode opened #1195 "Update gateway upstream cache control to enable canonical header support for caching operations"
Add a new option `EnableUpstreamCacheControlWithCanonicalHeaders`, if set, this will implement caching behaviour based on the rules set by the [standard cache-control headers](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Cache-Control).

The current cache control allows for custom headers to be used, but it is not very powerful or standards compliant

[2017-10-05 20:47] lonelycode opened #1196 "Extend gateway upstream caching to support client and server-side instructions"
Add an enum to `CacheOptions` for canonical headers, that specifies `upstream`, `downstream` and `both` as valid setters of cache instructions.

[2017-10-05 22:27] ArturoSerrano opened #1197 "Custom Config passed through the Spec object to CoProcess Middlewares"
**Do you want to request a *feature* or report a *bug*?**
feature

**What is the current behavior?**
The current behavior is that the spec object in the coprocess middleware only contains the APIID and the ORGID.

**What is the expected behavior?**
We want to be able to pass any fields through the Spec object.  We are aware of the ConfigData being available to JavaScript plugins, however, due to t

[2017-10-05 22:30] matiasinsaurralde commented on #1197
Hi, thanks, sounds like a very useful enhancement!

[2017-10-06 01:43] danilobreda commented on #1033
Thanks lonelycode... sorry for my my late comment. I will update my dashboard and gateway to the latest version.
I dont know if i need to close the issue or not, its only a recommendation for that kind of error, i think you get it.

[2017-10-06 03:18] #355 closed

[2017-10-06 15:10] ft-george-toader opened #1201 "The path stored in analytics is not the one of the original request"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
Depending on the nature of the request, the path stored in analytics is different for the same API.

**What is the expected behavior?**
the same path is stored in analytics.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem**
If we

[2017-10-06 16:17] davegarvey commented on #1195
Same as #604 ?

[2017-10-06 21:11] bitsofinfo opened #1203 "Tyk log entry exposes pre-hashed session key value in logs"
**Do you want to request a *feature* or report a *bug*?**

feature/bug

**What is the current behavior?**

Certain error conditions yields a log statement like this that exposes the clear (pre hashed) session key to the log file. In our case the session key (part of it) contains sensitive data that should not flow into a log file

[code]

**What is the expected behavior?**

This should be a config

[2017-10-07 02:14] lonelycode opened #1204 "This is a test issue"
And will be deleted.

[2017-10-07 02:19] #1204 closed

[2017-10-10 05:24] hustshawn opened #1209 "Tyk breakdown"
**Do you want to request a *feature* or report a *bug*?**
Bug maybe
**What is the current behavior?**
The configurations are ok and can keep running for several days, but it will breakdown in some day with below error.   and also I found the db tables (eg. tyk_apis)  in my mongo would be gone, only some analytics table are remain.
[code]
**What is the expected behavior?**
of course everything runn

[2017-10-10 13:37] #356 closed

[2017-10-10 15:15] #797 closed

[2017-10-11 07:41] Pinpin31 opened #1214 "The API Token to get list of keys return all keys whatever the api-id value"
**Do you want to request a *feature* or report a *bug*?**
bug on Tyk Dashboard v1.3.9

**What is the current behavior?**
The API Token to get list of keys for an api return all the keys whatever the api-id in url : /api/apis/{api-id}}/keys
The api /api/apis/{api-id}}/keys/{key-id} have the same problem.

**What is the expected behavior?**
The API should return only the keys for the api-id provided

[2017-10-11 08:30] Pinpin31 opened #1215 "Wrong page number in responses API"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
The page number in json response api for API Dashboard and API Admin Dashboard start by zero.

**What is the expected behavior?**
The page number should start by 1.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem**
With curl

`
cu

[2017-10-11 08:38] mvdan commented on #1215
Thanks for reporting!

We noticed this too a while ago, and there already are a couple of internal issues open about it (where the dashboard code lives). I'm going to close this one in favor of the others. Until the fix is released, this is a off-by-one error so it should be easy to work around.

[2017-10-11 08:38] #1215 closed

[2017-10-11 09:23] MangoMM commented on #757
@buger @ConsM  Started working on this issue & have a PR #1199 of what I I think solves the problem. Having said this, I am still a little unclear of expected logic & expected outputs given certain inputs.

e.g. Is the following logic correct?

GIVEN:
I send an OPTIONS request
WHEN
Request Token is expired or is invalid
THEN
Gateway should proxy OPTIONS request to upstream target

[2017-10-11 13:37] ilijabojanovic commented on #790
Verified and approved for merge

[2017-10-11 14:33] bitsofinfo opened #1216 "panic/die: fatal error: concurrent map iteration and map write"
**Do you want to request a *feature* or report a *bug*?**

bug

**What is the current behavior?**

System running fine for days, then log outputs the below, and container eventually dies

**What is the expected behavior?**

Not this

**Which versions of Tyk affected by this issue? Did this work in previous versions of Tyk?**

1.3.9/2.3.9 hybrid

[code]

continued below...

[2017-10-11 14:34] bitsofinfo commented on #1216
continued:

[code]

[2017-10-12 04:52] amitmandke opened #1219 "pass HTTP method to gRPC plugin request"
**Do you want to request a *feature* or report a *bug*?**
new feature
**What is the current behavior?**
HTTP method (GET, POST etc) is not available in gRPC plugin.
**What is the expected behavior?**
Make HTTP method available in "MiniRequestObject" for gRPC plugin. Or any rich plugin for that matter.
**If the current behavior is a bug, please provide the steps to reproduce and if possible a minim

[2017-10-12 13:12] joshblakeley commented on #1214
This is not a bug. The reason the api-id is in the request just to identify the back-end to query.
This is somewhat non-intuitive and we will change our docs to help clarify.

[2017-10-12 13:12] #1214 closed

[2017-10-12 22:13] matiasinsaurralde opened #1221 "PYTHONPATH isn't correctly set in some environments"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Tyk isn't able to initialize the Python dispatcher because the PYTHONPATH isn't correctly set (sometimes it doesn't include the Tyk root directory: "/opt/tyk-gateway").
Same occurs with the extracted bundle directories.

**What is the expected behavior?**
The dispatcher should work fine.

**If the curr

[2017-10-13 07:47] #1182 closed

[2017-10-13 08:11] #790 closed

[2017-10-13 11:36] antizol opened #1222 "Dashboard: broken pagination Portal Management -> Pages"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Regardless of the selected page, the dashboard will only show the first page, meaning some pages are not accesible from the UI.

**What is the expected behavior?**
All pages need to be accesible from the UI according to the page the user has selected.

**If the current behavior is a bug, please provide

[2017-10-13 11:52] ft-george-toader commented on #1222
app.js change line 9097 to PortalPages.get({p:$scope.current_page},

Please fix asap.
Thank you!

[2017-10-13 12:14] ConsM commented on #1222
Thanks for reporting it. This bug fix will be part of the next release

[2017-10-13 18:31] lonelycode commented on #1222
As a workaround (while we fix) it is possible to increase the average page size from 10 to an arbitrary value by setting a new size in the `tyk_analytics.conf` called `page_size`

[2017-10-16 09:47] mvdan commented on #1209
Friendly ping @hustshawn - could you check if this is the entire trace that you got?

[2017-10-18 09:32] ilijabojanovic commented on #1068
Released

[2017-10-18 09:32] #1068 closed

[2017-10-18 09:32] ilijabojanovic commented on #1221
Released

[2017-10-18 09:32] #1221 closed

[2017-10-18 09:32] ilijabojanovic commented on #1216
Fixed and verified on 2.3.10 release

[2017-10-18 09:32] #1216 closed

[2017-10-18 09:36] mvdan opened #1226 "Ensure DRL fix (#1216) goes into 2.4"
To remind myself to also push the change to master.

[2017-10-18 09:38] mvdan opened #1227 "Ensure Python issues (#1221, #1068) are also fixed in 2.4"
To make sure we don't forget to push the changes to master.

[2017-10-18 17:39] javi830810 opened #1228 "Possible Leak"
https://github.com/TykTechnologies/tyk/blob/c607854b9d50d40b79695e9f60a50c47a356e3f8/coprocess_python.go#L247-L254

Should the IF in line 247 evaluate true because of any reason. The release memory a few lines below wont execute, that will mean a Leak.

Also this happens many different times in the Coprocess and C integration. The correct way to use this release methods is by using a `defer C.free

[2017-10-18 18:45] matiasinsaurralde commented on #1228
Hi @javi830810, thanks for this report. We'll issue a fix for this, the impact isn't severe as a dispatcher initialization error means that isn't not possible to use the Python build at all and the user will need to fix the issue and start the process again.

[2017-10-18 20:51] mvdan commented on #1227
Fixed by https://github.com/TykTechnologies/tyk/pull/1229.

[2017-10-18 20:51] #1227 closed

[2017-10-18 21:35] javi830810 commented on #1228
Hi, we're investigating a leak in Python middlewares, we're reading code, running Performance tests, etc...
One of the few things we've noticed is the absence of usage for PY_DECREF, when creating objects in CPython, like here:

https://github.com/TykTechnologies/tyk/blob/master/coprocess_python.go#L127-L155

Any reason for that? We've seen lots of improvements in memory by decreasing references t

[2017-10-18 22:14] matiasinsaurralde commented on #1228
We don't have any report, can you share more details on memory improvements / issues?
Best

[2017-10-19 08:37] nickReyn commented on #955
@mvdan This came up at the event last night. They asked if you don't specify a version, can it just use the latest version.
Instead of having the error come up regarding the below:

Could we just say if they leave the default version unset, it defaults to the latest version of the API?

[2017-10-19 08:41] mvdan commented on #955
Not in 2.x. That would be breaking backwards incompatibility. I belive right now it picks the first version, not the last.

However, we could add a way to specify the last (the latest), such as `"default_version": "latest"`. Of course, if `"latest"` actually existed as a version, it wouldn't use that instead.

There's always the option of doing what you propose in 3.0, but that would mean waiting

[2017-10-19 14:18] javi830810 commented on #1228
Below is attached a config (tyk.conf+middleware) where you can easily reproduce the leak, just hit it with ~ 50 user for about 4 minutes (around 70k requests) you'll see how it goes from around 20 mbs to about 200mbs.

Clarify: This tyk.conf is production ready, with all the bells and whistles, disabled_health checks etc...
We might be switching gears to GRPC because of this leak.

[leak-config.zi

[2017-10-19 16:55] ilijabojanovic opened #1232 "Rate limiter issue with modified keys"
**Do you want to request a *feature* or report a *bug*?**
BUG
**What is the current behavior?**
Rate limit isn't applied on modified key
**What is the expected behavior?**
Rate limit should be applied on modified key
**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem**
1. Create key
2. Reach limit on that key
3. Modify add 123 on

[2017-10-19 16:56] ilijabojanovic commented on #1232
Associated pr:
https://github.com/TykTechnologies/tyk/pull/1230

[2017-10-19 20:42] bitsofinfo opened #1233 "Improve "Registered API Configurations" screen in dashboard"
**Do you want to request a *feature* or report a *bug*?**

feature

**What is the current behavior?**

non-existant search/sort options on the "Registered API Configurations" screen. Makes is quite cumbersome for admins to find an api.  Also the last "page" of the pagination is always empty (bug)

**What is the expected behavior?**

Should be able to search/sort the listed apis rather than having

[2017-10-19 20:44] bitsofinfo opened #1234 "Expose "domain" field in API definition dashboard editor"
**Do you want to request a *feature* or report a *bug*?**

feature

**What is the current behavior?**

Cannot edit the "domain" attribute value of an api definition in the hybrid dashboard

**What is the expected behavior?**

Should be able to edit the "domain" attribute of an api definition in the hybrid dashboard

**Which versions of Tyk affected by this issue? Did this work in previous versions

[2017-10-19 21:04] bitsofinfo commented on #992
Is this fixed now? should this be closed via some commit int 2.3.10?

[2017-10-19 21:32] bitsofinfo opened #1235 "Invalid dashboard JSON import results in silent failure"
**Do you want to request a *feature* or report a *bug*?**

bug

**What is the current behavior?**

When importing some JSON for a new API def in the hybrid dashboard, if the JSON has some syntax error, the form is submitted but no error/warning is displayed. The api list remains the same but there is no message presented to the user.

**What is the expected behavior?**

Please present a simple war

[2017-10-19 21:41] peloncano commented on #1235
+1 the UI needs to be consistent across the dashboard letting the user know that the JSON was invalid, similar to the way it is done in Advanced Options -> Config Data.

![2017-10-19_jsi6o](https://user-images.githubusercontent.com/1165911/31795676-bd6e8a16-b4f4-11e7-85ae-ab0637c00187.jpg)

[2017-10-20 07:53] nickReyn commented on #1233
Thanks for this. We have this on our roadmap as part of ongoing improvements to the dashboard. Keep an eye on the next few dashboard releases 👍

[2017-10-20 08:26] mvdan commented on #1226
Done in https://github.com/TykTechnologies/tyk/pull/1218.

[2017-10-20 08:26] #1226 closed

[2017-10-20 09:02] ConsM commented on #1235
Thanks for reporting it. We have raised an issue and will be improved in the next release.

[2017-10-20 11:52] nickReyn opened #1236 "Make a link between key (Activity by Key) and the user (Developers)."
Make a link between key (Activity by Key) and the user (Developers). Right now the Activity by Key allows to see the tokens who are most active. But if an administrator wants to change the policy on such a token they have no practical way to do that. We use the email address of the users as an alias so we can a list go through the whole list of developers to find the one we're looking for. It woul

[2017-10-20 16:59] mvdan commented on #1159
I still don't think this is worthwhile - particularly given that anything can be done by parsing the log output. Feel free to reopen if you have answers to my comment above, or anything to add in favor of the change.

[2017-10-20 16:59] #1159 closed

[2017-10-20 17:04] mvdan commented on #477
Yeah, no time for this in 2.4 I'm afraid. Moving to 2.5 for now.

[2017-10-23 08:32] ilijabojanovic opened #1238 "Python middleware path issue with protected api"
**Do you want to request a *feature* or report a *bug*?**
BUG
**What is the current behavior?**
When we reload api definition protected with auth, middleware is still purged
Example
[code]
**What is the expected behavior?**
Gateway reload should reload all api definitions with custom middleware
**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo

[2017-10-23 10:48] buger commented on #1228
@javi830810 is it possible for you to verify that #1231 fixes your issue?

[2017-10-23 16:53] buger commented on #1238
@matiasinsaurralde you need to made same PR for master too?

[2017-10-23 20:33] javi830810 commented on #1228
@buger The leak is confirmed even after those changes. In fact those changes (dismissing the fact that @matiasinsaurralde added one extra C.free), were already there, just missing the defer.
I was able to narrow the leak to the very method the Python hook is dispatched.

I carefully analyzed line by line what's happenning in there, and the result is the code below. Which includes fixes like:

1. C

[2017-10-23 20:35] matiasinsaurralde commented on #1228
Thanks for the suggestions @javi830810, we'll analyze them in the following days.

[2017-10-24 12:22] nikitinsm opened #1243 "JWT `exp` claim errors incorrect"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
I am using JWT auth with unlimited expire in policy and `exp` claim in payload. In case of expired claim I am getting error: Key not authorized with code 403

**What is the expected behavior?**
error: Key has expired, please renew with code 401

**If the current behavior is a bug, please provide the st

[2017-10-24 18:17] ilijabojanovic commented on #1232
Verified

[2017-10-24 18:17] #1232 closed

[2017-10-24 18:17] ilijabojanovic commented on #1238
Verified

[2017-10-24 22:22] ilijabojanovic commented on #992
@bitsofinfo This is fixed in 2.3.10 release

[2017-10-24 22:22] #992 closed

[2017-10-25 07:24] hustshawn commented on #1243
@nikitinsm  Agree with you, currently all non-authorised behavior in Tyk is 403, it's quite confusing.

[2017-10-25 11:56] buger commented on #1238
@matiasinsaurralde Keeping it open so you would not forget merge it to master

[2017-10-25 14:09] joshblakeley commented on #500
Closing here as this feature already exists in gateway and dashboard, new issue opened in pump [#51](https://github.com/TykTechnologies/tyk-pump/issues/51) for pump implementation

[2017-10-25 14:09] #500 closed

[2017-10-25 15:01] MangoMM commented on #757
@buger @ConsM I need further clarification on this task as I cannot recreate issue. I need an API definition with the actual request that was made, response received, and expected response.

[2017-10-25 22:51] ilijabojanovic opened #1244 "Dynamic rate limit isn't accurate"
**Do you want to request a *feature* or report a *bug*?**
Bug
**What is the current behavior?**
DRL isn't accurate on segmented or multiple gateways setup
**What is the expected behavior?**
DRL must be accurate on segmented gateways
**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem**
Test setup:
3 Gateway nodes with segmented ap

[2017-10-26 13:32] nickReyn commented on #739
@ilijabojanovic any reason you moved this back to in progress? Trying to figure out what is needed for this issue

[2017-10-26 13:34] mvdan commented on #739
@nickReyn because he believes he found an issue - see https://github.com/TykTechnologies/tyk/pull/1097. I replied there.

[2017-10-26 13:37] nickReyn commented on #504
@matiasinsaurralde what's the status of this please?

[2017-10-26 13:40] nickReyn commented on #690
@excieve poke - what's the status on this :)

[2017-10-26 13:55] ilijabojanovic commented on #739
@nickReyn @mvdan responded, on all tasks where i found some issues am moving them back to in progress since they are not finished

[2017-10-26 14:12] nickReyn commented on #739
Cool, thanks 👍  sorry was reviewing quickly while on planning call and didn't see the PR

[2017-10-26 15:52] excieve commented on #690
@nickReyn Haven't touched this yet. Can prioritise if that's needed rather sooner, along with others related to packaging.

[2017-10-27 09:44] mvdan commented on #270
We have updated and improved the page, and posted it to the new docs site: https://tyk.io/docs/configure/import-apis/

Thanks for the patience!

[2017-10-27 09:44] #270 closed

[2017-10-27 16:15] #324 closed

[2017-10-27 20:17] Rouzz opened #1245 "When using ReturnOverrides, queries are not shown in Log browser"
**Do you want to request a *feature* or report a *bug*?**
I guess it's a bug.

**What is the current behavior?**
When using ReturnOverrides, the request flow is stopped and thus the analytics middleware is bypassed.

**What is the expected behavior?**
I would expect that queries that got resolved via ReturnOverrides are shown in the logs like any other queries of the API.

**If the current behavio

[2017-10-28 14:04] #1244 closed

[2017-10-30 00:23] lonelycode opened #1249 "Python/CP Session objects do not carry metadata information through"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
If I set the metadata object in middleware, it does not get carried through to the object that gets stored in Tyk.

Usually I would use metadata to set headers later on in the request chain, but in the case of dynamic middleware, I *can* set this in the middleware, however this requires every request t

[2017-10-30 20:29] lonelycode commented on #757
@MangoMM That logic is correct, but should actually already be applied because OPTIONS requests when the feature is enabled always get passed straight upstream.

Might drop this issue form the milestone into a patch.

[2017-10-30 20:33] lonelycode commented on #504
@nickReyn / @matiasinsaurralde If no code has been done against this ticket yet, let's drop it from the 2.4 milestone and move it to 2.4.1

[2017-10-30 20:37] lonelycode commented on #690
We can bump this to patch.

[2017-10-30 20:38] lonelycode commented on #691
Bump to patch